# Analyse des jeux de données data_sig_collecte
Ce document analyse les jeux de données fournies par la CACPL disponible [ici](../../data/data_sig_collecte)

Il ya 6 jeux de données :
* col_decheterie : inventaire de déchèteries
* col_om_pt : inventaire des collecteurs d'ordures ménagères
* col_papier_pt : inventaire des collecteurs de papier
* col_tri_pt : inventaire des collecteurs d'emballages et papiers
* col_verre_pt : inventaire des collecteurs de verre
* col_vetement_pt : inventaire des collecteurs de vêtements

## Importation des librairies

In [1]:
import pandas as pd

## Lecture des fichiers

In [2]:
dataDecheterie = pd.read_csv("../../data/data_sig_collecte/col_decheterie.csv", encoding="ISO-8859-1", sep=";")
dataOM = pd.read_csv("../../data/data_sig_collecte/col_om_pt.csv", encoding="ISO-8859-1", sep=";")
dataPapier = pd.read_csv("../../data/data_sig_collecte/col_papier_pt.csv", encoding="ISO-8859-1", sep=";")
dataTri = pd.read_csv("../../data/data_sig_collecte/col_tri_pt.csv", encoding="ISO-8859-1", sep=";")
dataVerre = pd.read_csv("../../data/data_sig_collecte/col_verre_pt.csv", encoding="ISO-8859-1", sep=";")
dataVetement = pd.read_csv("../../data/data_sig_collecte/col_vetement_pt.csv", encoding="ISO-8859-1", sep=";")

## Jeu de données des déchèterie
### Aperçu du fichier
Il contient 28 variables que l'on pourra étudier :
* objectid : Identifiant de la déchèterie
* id :
* adresse : adresse de la déchèterie
* adresse_comp : complément de l'adresse de la déchèterie
* code_insee : code INSEE de la ville (différent du code départemental)
* veget : indicateur du traitement des végétations par la déchèterie
* bois : indicateur du traitement du bois par la déchèterie
* metal : indicateur du traitement du métal par la déchèterie
* grav_prop : indicateur du traitement des gravats propres par la déchèterie
* grav_sal : indicateur du traitement des gravats sales par la déchèterie
* carton : indicateur du traitement du carton par la déchèterie
* d3e : indicateur du traitement des D3E (Déchets d'Equipements Electriques et Electroniques) par la déchèterie
* dech_men_spe : indicateur du traitement des déchets ménagers spéciaux par la déchèterie
* neon : indicateur du traitement des néons par la déchèterie
* batterie : indicateur du traitement des batteries par la déchèterie
* pile : indicateur du traitement des piles par la déchèterie
* gaz : indicateur du traitement du gaz par la déchèterie
* extincteur : indicateur du traitement des extincteurs par la déchèterie
* huil_veget_mineral : indicateur du traitement des huiles végétales et minérales par la déchèterie
* date_instal : date d'installation de la déchèterie
* observations : observations éventuelles
* creation : pseudo de la personne qui a enregistré la déchèteries dans la BDD
* date_creation : date et temps de l'enregistrement de la déchèterie dans la BDD
* modification : peudo de la personne qui a modifié en dernier la déchèteries dans la BDD
* date_modification : date et temps de la dernière modification de la déchèterie dans la BDD
* globalid : GUID (Globally Unique IDentifier)
* _x : longitude de la déchèterie
* _y : latitude de la déchèterie

In [3]:
dataDecheterie.head()

,objectid,id,adresse,adresse_comp,code_insee,veget,bois,metal,grav_prop,grav_sal,...,huil_veget_mineral,date_instal,observations,creation,date_creation,modification,date_modification,globalid,_x,_y
0,801,NaN,Impasse de l aubarede,NaN,6030,Oui,Oui,Oui,Oui,Oui,...,Oui,NaN,NaN,chpayet,20200723135923,chpayet,20200723135923,{F24B4AF3-17BF-4215-B07F-044AA37EA4E5},6.983613,43.566849
1,1201,NaN,Chemin du coudouron,NaN,6085,Oui,Oui,Oui,Oui,Non,...,Oui,NaN,NaN,chpayet,20200727125141,chpayet,20200727125459,{26CF70EB-23DD-4399-ACBA-98434B6BFC1A},6.964639,43.581638
2,1601,NaN,Déchèterie des tourades,NaN,6029,Oui,Oui,Oui,Oui,Oui,...,Oui,NaN,NaN,chpayet,20200731130159,chpayet,20200731130332,{83866245-B862-4D22-B436-D5B1A64F5441},6.954320,43.556717

### Dimension du jeu de données

In [4]:
 print("Le jeu de données recense", dataDecheterie.shape[0], "déchèteries avec", dataDecheterie.shape[1], "variables")

Le jeu de données recense 3 déchèteries avec 28 variables

### Valeurs manquantes
Le jeu de données est complet

Aucune des déchèteries ne possède de valeur pour les colonnes id, adresse_comp, date_instal et observations

In [5]:
dataDecheterie.isna().sum()

objectid              0
id                    3
adresse               0
adresse_comp          3
code_insee            0
veget                 0
bois                  0
metal                 0
grav_prop             0
grav_sal              0
carton                0
d3e                   0
dech_men_spe          0
neon                  0
batterie              0
pile                  0
gaz                   0
extincteur            0
huil_veget_mineral    0
date_instal           3
observations          3
creation              0
date_creation         0
modification          0
date_modification     0
globalid              0
_x                    0
_y                    0
dtype: int64

### Décompte des doublons

In [6]:
dataDecheterie.duplicated().sum()

0

### Notes générales
Les 3 déchèteries traitent les végétations, le bois, le métal, les gravats propres, le carton, les déchets d’équipements électriques et électroniques, les néons, les batteries, les piles, le gaz, les extincteurs et les huiles végétales et minérales

Seule la déchèterie de Mougins ne traite pas les gravats sales et les déchets ménagers spéciaux

In [7]:
cols = ["veget", "bois", "metal", "grav_prop", "grav_sal", "carton", "d3e", "dech_men_spe", "neon", "batterie", "pile", "gaz", "extincteur", "huil_veget_mineral"]
for col in cols:
    print(dataDecheterie[col].value_counts())

Oui    3
Name: veget, dtype: int64
Oui    3
Name: bois, dtype: int64
Oui    3
Name: metal, dtype: int64
Oui    3
Name: grav_prop, dtype: int64
Oui    2
Non    1
Name: grav_sal, dtype: int64
Oui    3
Name: carton, dtype: int64
Oui    3
Name: d3e, dtype: int64
Oui    2
Non    1
Name: dech_men_spe, dtype: int64
Oui    3
Name: neon, dtype: int64
Oui    3
Name: batterie, dtype: int64
Oui    3
Name: pile, dtype: int64
Oui    3
Name: gaz, dtype: int64
Oui    3
Name: extincteur, dtype: int64
Oui    3
Name: huil_veget_mineral, dtype: int64

In [8]:
dataDecheterie[dataDecheterie.grav_sal == "Non"]

,objectid,id,adresse,adresse_comp,code_insee,veget,bois,metal,grav_prop,grav_sal,...,huil_veget_mineral,date_instal,observations,creation,date_creation,modification,date_modification,globalid,_x,_y
1,1201,NaN,Chemin du coudouron,NaN,6085,Oui,Oui,Oui,Oui,Non,...,Oui,NaN,NaN,chpayet,20200727125141,chpayet,20200727125459,{26CF70EB-23DD-4399-ACBA-98434B6BFC1A},6.964639,43.581638

In [9]:
dataDecheterie[dataDecheterie.dech_men_spe == "Non"]

,objectid,id,adresse,adresse_comp,code_insee,veget,bois,metal,grav_prop,grav_sal,...,huil_veget_mineral,date_instal,observations,creation,date_creation,modification,date_modification,globalid,_x,_y
1,1201,NaN,Chemin du coudouron,NaN,6085,Oui,Oui,Oui,Oui,Non,...,Oui,NaN,NaN,chpayet,20200727125141,chpayet,20200727125459,{26CF70EB-23DD-4399-ACBA-98434B6BFC1A},6.964639,43.581638

## Jeu de données des collecteurs d'ordures ménagères
### Aperçu du fichier
Il contient 19 variables que l'on pourra étudier :
* objectid : Identifiant de la déchèterie
* id :
* type : type de collecteur
* volume : volume du collecteur (en L ou en m<sup>3</sup>)
* quantite : quantité de collecteurs
* marque : marque du collecteur
* date_instal : date d'installation du collecteur
* adresse : adresse du collecteur
* adresse_comp : complément de l'adresse du collecteur
* code_insee : code INSEE de la ville (différent du code départemental)
* observations : observations éventuelles
* creation : pseudo de la personne qui a enregistré le collecteur dans la BDD
* date_creation : date et temps de l'enregistrement du collecteur dans la BDD
* modification : peudo de la personne qui a modifié en dernier le collecteur dans la BDD
* date_modification : date et temps de la dernière modification du collecteur dans la BDD
* globalid : GUID (Globally Unique IDentifier)
* etat : 
* _x : longitude du collecteur
* _y : latitude du collecteur

In [10]:
dataOM.head()

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
0,2002,NaN,Bac aérien avec cache bac,660 L,1,Plastic Omnium,NaN,Gare tsm,NaN,6138.0,NaN,chpayet,20191204083917,chpayet,20191204083917,{5C455C7F-2CAF-4B57-8B69-686691E7ACAA},NaN,6.937009,43.513302
1,3202,NaN,Bac aérien avec cache bac,660 L,3,Plastic Omnium,NaN,Résidence les terrasses de saint honorat,NaN,6138.0,NaN,chpayet,20200102131948,chpayet,20200102131948,{449AE0D0-B256-49C2-84F7-87F4248CA3CC},NaN,6.941518,43.490540
2,2003,NaN,Bac aérien sans cache bac,660 L,1,Plastic Omnium,NaN,Prince des iles,NaN,6138.0,NaN,chpayet,20191204084630,chpayet,20191204084630,{FED2233C-9710-40F1-ACF4-58134F0BB9FE},NaN,6.937398,43.509171
3,2004,NaN,Bac aérien sans cache bac,660 L,1,Plastic Omnium,NaN,Avenue de lerins trottoir de l eglise,NaN,6138.0,NaN,chpayet,20191204085306,chpayet,20191204085306,{058DC0AE-423C-4FEB-8D30-D4C113428CD8},NaN,6.938353,43.508087
4,2005,NaN,Bac aérien sans cache bac,660 L,1,Plastic Omnium,NaN,Avenue de lerins angle traverse magasin souvenirs,NaN,6138.0,NaN,chpayet,20191204090036,chpayet,20191204090036,{53D62EB0-B046-4D5D-B636-94646AC984AA},NaN,6.940556,43.507687

### Dimension du jeu de données

In [11]:
 print("Le jeu de données recense", dataOM.shape[0], "collecteurs avec", dataOM.shape[1], "variables")

Le jeu de données recense 386 collecteurs avec 19 variables

### Valeurs manquantes
Le jeu de données n'est pas complet.

Aucun des collecteurs ne possède de valeur pour date_instal et etat.

La plupart des collecteurs n'a pas d'id ni de complément d'adresse, ni d'observation (ce qui n'est pas gênant)

Il manque un code INSEE (06029 pour 22 Corniche paradis)

Il manque les noms de marque pour certains collecteurs : 2 lignes n'ont pas de marque définie

Un collecteur n'a pas d'adresse

D'autres manques sont précisés dans la partie Notes générales

In [12]:
dataOM.isna().sum()

objectid               0
id                   345
type                   0
volume                 0
quantite               0
marque                 2
date_instal          386
adresse                1
adresse_comp         366
code_insee             1
observations         384
creation               0
date_creation          0
modification           0
date_modification      0
globalid               0
etat                 386
_x                     0
_y                     0
dtype: int64

In [13]:
dataOM[dataOM.code_insee.isna()]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
253,9633,NaN,Bac aérien sans cache bac,660 L,1,Contenur,NaN,22 Corniche paradis,NaN,NaN,NaN,chpayet,20200507091717,chpayet,20200507091717,{33D295CF-CBD3-4049-83A8-02E0BDAB0078},NaN,7.035603,43.564667

In [14]:
dataOM[dataOM.marque.isna()]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
23,2414,NaN,Bac aérien avec cache bac,660 L,1,NaN,NaN,16 avenue du trayas,NaN,6138.0,NaN,chpayet,20191206094728,chpayet,20191206094728,{83E9E79C-30B9-4810-A497-57A622270EFA},NaN,6.929938,43.484035
141,4016,NaN,Bac aérien sans cache bac,660 L,6,NaN,NaN,Avenue Robert Schuman,NaN,6079.0,NaN,chpayet,20200109143551,chpayet,20200109143813,{80EA24D1-D67F-4A79-B041-87DE1A7F696F},NaN,6.917853,43.538933

In [15]:
dataOM[dataOM.adresse.isna()]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
65,3204,NaN,Bac aérien sans cache bac,660 L,1,Plastic Omnium,NaN,NaN,NaN,6138.0,NaN,chpayet,20200102132612,chpayet,20200102132612,{7E0F84F0-A1FC-4B0C-9E96-67BC6C993BD1},NaN,6.94299,43.489315

### Décompte des doublons

In [16]:
dataOM.duplicated().sum()

0

### Notes générales

Un type de collecteur n'est pas précisé (bac aérien vu que le volume est précisé en L)

In [17]:
dataOM.type.value_counts()

Bac aérien sans cache bac    192
Bac aérien avec cache bac    133
PAV cuve enterrée             35
PAV enterré ascenseur         17
PAV cuve semi-enterrée         6
PAV cuve compactrice           2
                               1
Name: type, dtype: int64

In [18]:
dataOM[dataOM.type == " "]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
128,8021,NaN,,340 L,1,Contenur,NaN,Impasse saint claude,NaN,6030.0,NaN,chpayet,20200310085858,chpayet,20200310085858,{5F8A550E-7D06-4523-B2DE-75CAC4A8EDC3},NaN,7.019745,43.571297

4 collecteurs n'ont pas le volume précisé (il est peut-être possible de retrouver le volume par comparaison des photographies)

In [19]:
dataOM.volume.value_counts()

660 L      283
3 m3        34
750 L       21
4 m3        17
340 L       15
240 L        6
5 m3         5
             4
< 240 L      1
Name: volume, dtype: int64

In [20]:
dataOM[dataOM.volume == " "]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
108,5619,NaN,PAV cuve enterrée,,1,Contenur,NaN,2 avenue isola bella,NaN,6029.0,NaN,chpayet,20200205091249,chpayet,20200205091249,{F761890A-0194-4B2A-833D-60D6F61CEA5B},NaN,7.024379,43.555840
232,8421,NaN,PAV cuve enterrée,,2,,NaN,Rue Amador lopez,NaN,6029.0,NaN,chpayet,20200417075039,chpayet,20200417075039,{98218ED9-38E5-4525-89A3-77BCBB533F9C},NaN,6.963249,43.556019
242,8425,NaN,PAV enterré ascenseur,,1,Ecollect,NaN,146 avenue Michel jourdan,NaN,6029.0,NaN,chpayet,20200417082139,chpayet,20200417082139,{D8F695AF-59DF-4EB7-AE63-7F0856CA882B},NaN,6.968542,43.558376
336,16049,NaN,PAV cuve enterrée,,1,Contenur,NaN,Avenue pierre semard,NaN,6029.0,NaN,chpayet,20200819085514,chpayet,20200819085514,{0556B869-083B-40CD-9576-36BC6DC523E0},NaN,6.977401,43.548309

40 collecteurs ont la marque " " (soit 40 sans marque à ajouter aux 2 détectés précédemment)

In [21]:
dataOM.marque.value_counts()

Contenur          259
Plastic Omnium     58
                   40
Ecollect           14
Citec              13
Name: marque, dtype: int64

In [22]:
dataOM[dataOM.marque == " "]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
20,2412,"660009218,6601801328,c110",Bac aérien avec cache bac,660 L,3,,NaN,16 avenue du trayas,NaN,6138.0,NaN,chpayet,20191206094139,chpayet,20191206094139,{85FCBB7E-829C-4A12-8C9F-26864FFA595C},NaN,6.929891,43.484089
24,2415,NaN,Bac aérien avec cache bac,< 240 L,1,,NaN,16 avenue du trayas,NaN,6138.0,NaN,chpayet,20191206094909,chpayet,20191206094909,{26C0D5E8-5A31-4B7E-B802-F1CDFBCF5270},NaN,6.929922,43.484051
53,2822,NaN,Bac aérien sans cache bac,750 L,1,,NaN,37 avenue saint Hubert,NaN,6138.0,NaN,chpayet,20191211095910,chpayet,20191211095910,{10C27FF7-E7E5-4F12-88DC-56A85F5796CF},NaN,6.943240,43.503384
103,5617,NaN,Bac aérien avec cache bac,750 L,3,,NaN,1 rue Marcel berthelot,Sur le parking,6029.0,NaN,chpayet,20200205090258,chpayet,20200205090258,{193D1690-9CC5-4FD4-A0B1-005525BD8B54},NaN,7.022876,43.556847
113,5622,NaN,Bac aérien avec cache bac,660 L,2,,NaN,1 boulevard de lorraine,NaN,6029.0,NaN,chpayet,20200205094631,chpayet,20200205094631,{7A4C34AE-540E-4B41-B3BD-56D96BDB4A4D},NaN,7.025346,43.553810
130,18449,NaN,Bac aérien sans cache bac,660 L,1,,NaN,60 boulevard Paul doumer,NaN,6030.0,NaN,chpayet,20200901090811,chpayet,20200901090811,{615ED45F-7E3D-49F3-879A-8BCD30DCCF94},NaN,7.009606,43.570232
133,6038,NaN,PAV cuve enterrée,5 m3,1,,NaN,Square Frédéric mistral,NaN,6029.0,NaN,chpayet,20200210094150,chpayet,20200210094150,{E755A6D9-6C1B-441B-BD49-E6E31C782E7E},NaN,7.007435,43.548866
134,6039,NaN,PAV cuve enterrée,4 m3,1,,NaN,Square Frédéric mistral,NaN,6029.0,Accès avec clef,chpayet,20200210094932,chpayet,20200210094932,{CFB0FE37-3521-40FC-B55B-1C5F4BF9ADBC},NaN,7.006215,43.548965
136,4017,NaN,Bac aérien sans cache bac,750 L,2,,NaN,Avenue Robert Schuman,NaN,6079.0,NaN,chpayet,20200109143702,chpayet,20200109143725,{0C31F0A3-54AA-46F5-9B7D-6AD3A6839AEC},NaN,6.917846,43.538963
139,6043,NaN,Bac aérien sans cache bac,660 L,2,,NaN,Impasse mouraillle,NaN,6029.0,NaN,chpayet,20200210102055,chpayet,20200210102055,{6F1313A5-B78E-44DB-AD9F-2431DB6E7A4F},NaN,7.008286,43.556664
156,6050,NaN,Bac aérien sans cache bac,660 L,2,,NaN,27 avenue saint jean,NaN,6029.0,NaN,chpayet,20200210105409,chpayet,20200210105409,{5EBD54EA-8264-4DF8-B3AA-99B9C059C6C0},NaN,7.014330,43.557491
157,6051,NaN,PAV enterré ascenseur,3 m3,1,,NaN,Avenue reine Astrid,NaN,6029.0,NaN,chpayet,20200210135045,chpayet,20200210135045,{694FFA17-0C34-478C-9F36-B37989A196DE},NaN,7.039121,43.539310
162,4414,NaN,PAV cuve compactrice,5 m3,1,,NaN,Rue Félix Faure,NaN,6029.0,NaN,chpayet,20200128085212,chpayet,20200128085212,{67E342DC-C2DB-460F-856A-C8DD7E956F1C},NaN,7.015233,43.552231
163,4415,NaN,PAV cuve compactrice,5 m3,1,,NaN,Rue Félix Faure,NaN,6029.0,NaN,chpayet,20200128085712,chpayet,20200128085712,{2688A994-BD65-49D8-BB0F-83F250E6D53B},NaN,7.014462,43.552090
181,6821,NaN,Bac aérien avec cache bac,660 L,2,,NaN,1 rue reyer,NaN,6029.0,NaN,chpayet,20200212081326,chpayet,20200212081326,{469720A0-8C75-4E95-9E9B-1B46B6C0B23E},NaN,7.018417,43.561069
196,7234,NaN,Bac aérien sans cache bac,660 L,1,,NaN,31 boulevard Jacques monod,NaN,6030.0,NaN,chpayet,20200213100752,chpayet,20200213100752,{A1C71622-8F9A-41E5-B074-49303B0DDAD4},NaN,6.995867,43.572479
215,7223,NaN,PAV cuve enterrée,3 m3,1,,NaN,177 avenue de la république,NaN,6029.0,NaN,chpayet,20200213084245,chpayet,20200213084245,{0DF0E333-6240-4206-A8CF-9D6C66A7C79C},NaN,7.020981,43.562794
217,6829,NaN,PAV cuve enterrée,3 m3,1,,NaN,31 rue de mimont,NaN,6029.0,NaN,chpayet,20200212085403,chpayet,20200212085403,{16AD2DEB-70F2-42BA-BCD5-1B3E26AF78B8},NaN,7.022246,43.555447
222,6832,NaN,PAV enterré ascenseur,4 m3,2,,NaN,Rue venizelos,NaN,6029.0,NaN,chpayet,20200212090542,chpayet,20200212090542,{8DC0A09C-0EBD-42E2-BB31-CB86BC1FD0DA},NaN,7.017270,43.553673
232,8421,NaN,PAV cuve enterrée,,2,,NaN,Rue Amador lopez,NaN,6029.0,NaN,chpayet,20200417075039,chpayet,20200417075039,{98218ED9-38E5-4525-89A3-77BCBB533F9C},NaN,6.963249,43.556019
237,8422,NaN,PAV cuve enterrée,3 m3,3,,NaN,Chemin du caroubiers,NaN,6029.0,NaN,chpayet,20200417075614,chpayet,20200417075614,{991EC0F0-72E9-46F4-984B-72BE983FDE6D},NaN,6.962904,43.556435
239,8423,NaN,PAV cuve enterrée,3 m3,2,,NaN,Chemin des rainettes,NaN,6029.0,NaN,chpayet,20200417075947,chpayet,20200417075947,{3D2B93EC-E218-41EA-8E4B-DF0C83073DC8},NaN,6.963056,43.557243
240,8424,NaN,PAV cuve enterrée,3 m3,2,,NaN,Chemin du caroubier,NaN,6029.0,NaN,chpayet,20200417080412,chpayet,20200417080412,{983FA0B1-E02C-4676-8699-6DBC9E071494},NaN,6.962517,43.557549
243,8426,NaN,PAV cuve enterrée,3 m3,2,,NaN,Rue Alfred de musset,NaN,6029.0,NaN,chpayet,20200417084212,chpayet,20200417084212,{B3130B27-8EF0-41FF-937D-6F7350A6DD4D},NaN,6.966133,43.569683
257,8821,NaN,Bac aérien sans cache bac,340 L,1,,NaN,Rue Léandre sardou,NaN,6029.0,NaN,chpayet,20200429074949,chpayet,20200429074949,{28CB293D-5B2D-40BE-B723-E244539177CC},NaN,7.027657,43.558285
261,8822,NaN,PAV cuve enterrée,3 m3,5,,NaN,Chemin de l horizon,NaN,6085.0,NaN,chpayet,20200429102407,chpayet,20200429102407,{7D4624AF-1EC9-4F7D-8592-FA2E3CCC6B2F},NaN,6.994655,43.599743
264,8823,NaN,Bac aérien avec cache bac,660 L,3,,NaN,Chemin de l horizon,NaN,6085.0,NaN,chpayet,20200429102651,chpayet,20200429102651,{8C2275EA-5D13-4A12-9D71-4DAB769EAB74},NaN,6.994705,43.599705
269,7629,NaN,PAV cuve enterrée,3 m3,1,,NaN,Boulevard louis negrin,NaN,6029.0,NaN,chpayet,20200218144745,chpayet,20200218144745,{25B805A1-D4BB-4DBE-B161-78B6EC250C6D},NaN,6.976097,43.549824
287,12043,NaN,PAV cuve enterrée,3 m3,1,,NaN,Boulevard de la croisette,NaN,6029.0,NaN,chpayet,20200623092157,chpayet,20200623092157,{E74F2DDE-C75E-491C-A01B-F11F683300DF},NaN,7.021639,43.550358
289,12044,NaN,PAV cuve enterrée,3 m3,3,,NaN,Rue docteur gerard,NaN,6029.0,NaN,chpayet,20200623093052,chpayet,20200623093052,{9EAA56DD-4F33-4272-92E5-A4641EDB7D12},NaN,7.022745,43.550957
298,6044,NaN,Bac aérien sans cache bac,660 L,4,,NaN,Impasse des cassiflores,NaN,6029.0,NaN,chpayet,20200210102536,chpayet,20200731072858,{8C341835-BF01-4496-BCBC-B2B4E459895C},NaN,7.005229,43.557926
301,10045,NaN,PAV cuve enterrée,3 m3,1,,NaN,26 avenue maréchal juin,NaN,6029.0,NaN,chpayet,20200512125614,chpayet,20200512125614,{9005E421-1392-42BB-AD8A-026C2CF6D2FF},NaN,7.033349,43.550434
323,12451,NaN,PAV enterré ascenseur,3 m3,1,,NaN,Boulevard chanoine Francis coeuret,NaN,6029.0,NaN,chpayet,20200630115908,chpayet,20200630115908,{342DDAC9-123A-4772-BB15-B30BF1342ECA},NaN,7.037526,43.545124
352,14449,NaN,PAV cuve semi-enterrée,4 m3,1,,NaN,Route d antibes,NaN,6085.0,NaN,chpayet,20200727131955,chpayet,20200727131955,{64C665C3-841F-4F66-AD3D-AE3844C8BA40},NaN,7.028320,43.600811
353,14450,NaN,PAV cuve semi-enterrée,4 m3,1,,NaN,Route d antibes,NaN,6085.0,NaN,chpayet,20200727132208,chpayet,20200727132411,{9AEC8D28-C965-4A6C-9533-AAE419228AEF},NaN,7.030532,43.600124
354,14451,NaN,PAV cuve semi-enterrée,4 m3,1,,NaN,Route de vallauris,NaN,6085.0,NaN,chpayet,20200727133549,chpayet,20200727133549,{548377E2-F5D1-43CF-9E3D-8F2F586A445F},NaN,7.036952,43.597515
355,14452,NaN,PAV cuve semi-enterrée,3 m3,1,,NaN,Route de la valmasque,NaN,6085.0,NaN,chpayet,20200727134101,chpayet,20200727134101,{A3F2CDC5-7CE7-44F5-8756-AC980E6ED951},NaN,7.039464,43.605034
356,14453,NaN,PAV cuve semi-enterrée,4 m3,1,,NaN,Route de la valmasque,NaN,6085.0,NaN,chpayet,20200727134201,chpayet,20200727134201,{C79F988F-4FBE-4669-A355-20EB8DD82BF2},NaN,7.040502,43.606010
357,14454,NaN,PAV cuve semi-enterrée,4 m3,1,,NaN,Route de la valmasque,NaN,6085.0,NaN,chpayet,20200727134430,chpayet,20200727134430,{9603FD9A-54AC-43E6-A79B-20D9D1EC8163},NaN,7.037846,43.605686
376,17655,NaN,PAV cuve enterrée,4 m3,2,,NaN,13 rue Victor cousin,NaN,6029.0,NaN,chpayet,20200826113124,chpayet,20200826113124,{1C54CE8A-8029-4CFB-9993-57559A84E825},NaN,7.023808,43.550831

Plusieurs collecteurs partagent la même adresse

In [23]:
dataOM.adresse.value_counts()

Port canto                        6
Avenue van loo                    6
Avenue corniche d or              4
Avenue montier                    4
Boulevard de l esquillon          3
                                 ..
12 rue Guy de maupassant          1
25 rue de cannes                  1
Chemin de la bastiere             1
71 boulevard de la république     1
Allée des pins                    1
Name: adresse, Length: 317, dtype: int64

Ces collecteurs sont nombreux à Cannes ainsi qu'à Théoule-sur-Mer

In [24]:
dataOM.code_insee.value_counts()

6029.0    206
6138.0     90
6030.0     56
6079.0     24
6085.0      9
Name: code_insee, dtype: int64

2 commentaires sont indiqués

In [25]:
dataOM[dataOM.observations.notna()]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
134,6039,NaN,PAV cuve enterrée,4 m3,1,,NaN,Square Frédéric mistral,NaN,6029.0,Accès avec clef,chpayet,20200210094932,chpayet,20200210094932,{CFB0FE37-3521-40FC-B55B-1C5F4BF9ADBC},NaN,7.006215,43.548965
171,4413,NaN,PAV enterré ascenseur,4 m3,4,Ecollect,NaN,Rue hoche,NaN,6029.0,Borne à télécommande 3 trappes au sol et une b...,chpayet,20200128084141,chpayet,20200128091819,{60A84588-BCBB-49CA-9C15-A241DCAD2B5A},NaN,7.018925,43.553131

## Jeu de données des des collecteurs de papier
### Aperçu du fichier
Il contient 20 variables que l'on pourra étudier :
* objectid : Identifiant de la déchèterie
* id :
* type : type de collecteur
* volume : volume du collecteur (en L ou en m<sup>3</sup>)
* quantite : quantité de collecteurs
* marque : marque du collecteur
* date_instal : date d'installation du collecteur
* adresse : adresse du collecteur
* adresse_comp : complément de l'adresse du collecteur
* code_insee : code INSEE de la ville (différent du code départemental)
* observations : observations éventuelles
* accessibilite :
* creation : pseudo de la personne qui a enregistré le collecteur dans la BDD
* date_creation : date et temps de l'enregistrement du collecteur dans la BDD
* modification : peudo de la personne qui a modifié en dernier le collecteur dans la BDD
* date_modification : date et temps de la dernière modification du collecteur dans la BDD
* globalid : GUID (Globally Unique IDentifier)
* etat : 
* _x : longitude du collecteur
* _y : latitude du collecteur

In [26]:
dataPapier.head()

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
0,1601,NaN,,,1,,NaN,2 chemin des vallons,NaN,6030,NaN,NaN,chpayet,20200417085022,chpayet,20200417085022,{46B94A69-E019-43D8-9E84-AAE5DA6284C2},NaN,6.972623,43.568790
1,1202,NaN,,,1,,NaN,10 boulevard d olivetum,NaN,6030,NaN,NaN,chpayet,20200310084750,chpayet,20200310084750,{2A62403F-3C88-40AA-9C22-FE89A984671F},NaN,7.025239,43.570610
2,403,NaN,,,1,,NaN,Boulevard Jacques monod,Parking des fades,6030,NaN,NaN,chpayet,20200213101117,chpayet,20200213101117,{A90515AF-4E89-4DB0-8F45-3B0604FBCFFD},NaN,6.996956,43.574852
3,1602,NaN,,,1,,NaN,Cimetiere du claus,NaN,6030,NaN,NaN,chpayet,20200417085630,chpayet,20200417085630,{7A3EE5C6-AA02-4B6E-99F3-2906EA5D56E6},NaN,6.986457,43.574566
4,1606,NaN,,,1,,NaN,Avenue Georges Pompidou,NaN,6030,NaN,NaN,chpayet,20200417104710,chpayet,20200417104710,{C5ABBCFE-6778-4674-8888-5918E2BD6898},NaN,6.981803,43.568787

### Dimension du jeu de données

In [27]:
 print("Le jeu de données recense", dataPapier.shape[0], "collecteurs avec", dataPapier.shape[1], "variables")

Le jeu de données recense 34 collecteurs avec 20 variables

### Valeurs manquantes
Le jeu de données semble complet mais des manques sont précisés dans la partie Notes générales

Aucun des collecteurs ne possède de valeur pour id, date_instal, accessibilite et etat

La plupart des collecteurs n'a pas de complément d'adresse, ni d'observation (ce qui n'est pas gênant)

In [28]:
dataPapier.isna().sum()

objectid              0
id                   34
type                  0
volume                0
quantite              0
marque                0
date_instal          34
adresse               0
adresse_comp         30
code_insee            0
observations         33
accessibilite        34
creation              0
date_creation         0
modification          0
date_modification     0
globalid              0
etat                 34
_x                    0
_y                    0
dtype: int64

### Décompte des doublons

In [29]:
dataPapier.duplicated().sum()

0

### Notes générales

8 types de collecteur ne sont pas précisés (il est peut-être possible de les retrouver par comparaison des photographies)

In [30]:
dataPapier.type.value_counts()

PAV cuve enterrée    17
Colonne aérienne      9
                      8
Name: type, dtype: int64

In [31]:
dataPapier[dataPapier.type == " "]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
0,1601,NaN,,,1,,NaN,2 chemin des vallons,NaN,6030,NaN,NaN,chpayet,20200417085022,chpayet,20200417085022,{46B94A69-E019-43D8-9E84-AAE5DA6284C2},NaN,6.972623,43.568790
1,1202,NaN,,,1,,NaN,10 boulevard d olivetum,NaN,6030,NaN,NaN,chpayet,20200310084750,chpayet,20200310084750,{2A62403F-3C88-40AA-9C22-FE89A984671F},NaN,7.025239,43.570610
2,403,NaN,,,1,,NaN,Boulevard Jacques monod,Parking des fades,6030,NaN,NaN,chpayet,20200213101117,chpayet,20200213101117,{A90515AF-4E89-4DB0-8F45-3B0604FBCFFD},NaN,6.996956,43.574852
3,1602,NaN,,,1,,NaN,Cimetiere du claus,NaN,6030,NaN,NaN,chpayet,20200417085630,chpayet,20200417085630,{7A3EE5C6-AA02-4B6E-99F3-2906EA5D56E6},NaN,6.986457,43.574566
4,1606,NaN,,,1,,NaN,Avenue Georges Pompidou,NaN,6030,NaN,NaN,chpayet,20200417104710,chpayet,20200417104710,{C5ABBCFE-6778-4674-8888-5918E2BD6898},NaN,6.981803,43.568787
5,1205,NaN,,,1,,NaN,7 chemin de l aubarede,NaN,6030,NaN,NaN,chpayet,20200310100220,chpayet,20200310100220,{0A6616FF-EE2F-4512-ADA2-023B7FF4255A},NaN,6.984120,43.573116
7,4002,NaN,,,1,,NaN,Rue Marcel pagnol,NaN,6030,NaN,NaN,chpayet,20200723083331,chpayet,20200723083331,{00153039-CB46-4664-A251-D2E3381B822E},NaN,6.988643,43.573776
8,4003,NaN,,,1,,NaN,Rue cite des jardins,NaN,6030,NaN,NaN,chpayet,20200723084148,chpayet,20200723084148,{42EEB3C0-EF20-4ADF-B995-15B97DBE0068},NaN,6.998000,43.576679

8 collecteurs n'ont pas le volume précisé (les mêmes que ci-dessus)

In [32]:
dataPapier.volume.value_counts()

4 m3    17
3 m3     9
         8
Name: volume, dtype: int64

In [33]:
dataPapier[dataPapier.volume == " "]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
0,1601,NaN,,,1,,NaN,2 chemin des vallons,NaN,6030,NaN,NaN,chpayet,20200417085022,chpayet,20200417085022,{46B94A69-E019-43D8-9E84-AAE5DA6284C2},NaN,6.972623,43.568790
1,1202,NaN,,,1,,NaN,10 boulevard d olivetum,NaN,6030,NaN,NaN,chpayet,20200310084750,chpayet,20200310084750,{2A62403F-3C88-40AA-9C22-FE89A984671F},NaN,7.025239,43.570610
2,403,NaN,,,1,,NaN,Boulevard Jacques monod,Parking des fades,6030,NaN,NaN,chpayet,20200213101117,chpayet,20200213101117,{A90515AF-4E89-4DB0-8F45-3B0604FBCFFD},NaN,6.996956,43.574852
3,1602,NaN,,,1,,NaN,Cimetiere du claus,NaN,6030,NaN,NaN,chpayet,20200417085630,chpayet,20200417085630,{7A3EE5C6-AA02-4B6E-99F3-2906EA5D56E6},NaN,6.986457,43.574566
4,1606,NaN,,,1,,NaN,Avenue Georges Pompidou,NaN,6030,NaN,NaN,chpayet,20200417104710,chpayet,20200417104710,{C5ABBCFE-6778-4674-8888-5918E2BD6898},NaN,6.981803,43.568787
5,1205,NaN,,,1,,NaN,7 chemin de l aubarede,NaN,6030,NaN,NaN,chpayet,20200310100220,chpayet,20200310100220,{0A6616FF-EE2F-4512-ADA2-023B7FF4255A},NaN,6.984120,43.573116
7,4002,NaN,,,1,,NaN,Rue Marcel pagnol,NaN,6030,NaN,NaN,chpayet,20200723083331,chpayet,20200723083331,{00153039-CB46-4664-A251-D2E3381B822E},NaN,6.988643,43.573776
8,4003,NaN,,,1,,NaN,Rue cite des jardins,NaN,6030,NaN,NaN,chpayet,20200723084148,chpayet,20200723084148,{42EEB3C0-EF20-4ADF-B995-15B97DBE0068},NaN,6.998000,43.576679

La plupart des collecteurs (29) a la marque " "

In [34]:
dataPapier.marque.value_counts()

                  29
Plastic Omnium     4
Contenur           1
Name: marque, dtype: int64

In [35]:
dataPapier[dataPapier.marque == " "]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
0,1601,NaN,,,1,,NaN,2 chemin des vallons,NaN,6030,NaN,NaN,chpayet,20200417085022,chpayet,20200417085022,{46B94A69-E019-43D8-9E84-AAE5DA6284C2},NaN,6.972623,43.568790
1,1202,NaN,,,1,,NaN,10 boulevard d olivetum,NaN,6030,NaN,NaN,chpayet,20200310084750,chpayet,20200310084750,{2A62403F-3C88-40AA-9C22-FE89A984671F},NaN,7.025239,43.570610
2,403,NaN,,,1,,NaN,Boulevard Jacques monod,Parking des fades,6030,NaN,NaN,chpayet,20200213101117,chpayet,20200213101117,{A90515AF-4E89-4DB0-8F45-3B0604FBCFFD},NaN,6.996956,43.574852
3,1602,NaN,,,1,,NaN,Cimetiere du claus,NaN,6030,NaN,NaN,chpayet,20200417085630,chpayet,20200417085630,{7A3EE5C6-AA02-4B6E-99F3-2906EA5D56E6},NaN,6.986457,43.574566
4,1606,NaN,,,1,,NaN,Avenue Georges Pompidou,NaN,6030,NaN,NaN,chpayet,20200417104710,chpayet,20200417104710,{C5ABBCFE-6778-4674-8888-5918E2BD6898},NaN,6.981803,43.568787
5,1205,NaN,,,1,,NaN,7 chemin de l aubarede,NaN,6030,NaN,NaN,chpayet,20200310100220,chpayet,20200310100220,{0A6616FF-EE2F-4512-ADA2-023B7FF4255A},NaN,6.984120,43.573116
6,2004,NaN,PAV cuve enterrée,4 m3,2,,NaN,1332 avenue notre dame de vie,NaN,6085,NaN,NaN,chpayet,20200429110135,chpayet,20200731123005,{5F42EED6-15D2-4799-82E2-377DE5F69AF3},NaN,7.001550,43.593269
7,4002,NaN,,,1,,NaN,Rue Marcel pagnol,NaN,6030,NaN,NaN,chpayet,20200723083331,chpayet,20200723083331,{00153039-CB46-4664-A251-D2E3381B822E},NaN,6.988643,43.573776
8,4003,NaN,,,1,,NaN,Rue cite des jardins,NaN,6030,NaN,NaN,chpayet,20200723084148,chpayet,20200723084148,{42EEB3C0-EF20-4ADF-B995-15B97DBE0068},NaN,6.998000,43.576679
10,4001,NaN,PAV cuve enterrée,3 m3,1,,NaN,Place benidorm,NaN,6030,NaN,NaN,chpayet,20200723081915,chpayet,20200723133557,{65AA072C-D5CF-4D4C-8F3C-0517057EE03A},NaN,7.014975,43.570587
11,3201,NaN,PAV cuve enterrée,3 m3,1,,NaN,Rue des orangers,angle rue des oliviers,6030,NaN,NaN,chpayet,20200622123731,chpayet,20200723133643,{06460B3B-FAB5-4E5C-80A8-87B39F75F6CB},NaN,7.017876,43.575016
12,3601,NaN,PAV cuve enterrée,3 m3,1,,NaN,Avenue du repos,NaN,6030,NaN,NaN,chpayet,20200630093451,chpayet,20200723133702,{C553287B-9798-424E-AB49-551EC2D91F47},NaN,7.014328,43.575138
13,401,NaN,PAV cuve enterrée,3 m3,2,,NaN,6 avenue Maurice jean pierre,NaN,6030,NaN,NaN,chpayet,20200213095712,chpayet,20200723133751,{B1926D97-5BF9-47E0-895B-46A40D1C65B4},NaN,7.006851,43.576714
14,402,NaN,PAV cuve enterrée,3 m3,1,,NaN,24 avenue de la pinede,NaN,6030,NaN,NaN,chpayet,20200213100108,chpayet,20200723133808,{A1A5B794-F651-4854-9A9A-9EA86293FF66},NaN,7.003463,43.573112
15,1201,NaN,PAV cuve enterrée,3 m3,1,,NaN,21 avenue thiers,NaN,6030,NaN,NaN,chpayet,20200310084117,chpayet,20200723133831,{06B4116B-A63C-45E8-9250-E33E39643CA8},NaN,7.024154,43.569870
16,404,NaN,PAV cuve enterrée,3 m3,1,,NaN,Boulevard de l esterel,residence les pins parasols,6030,NaN,NaN,chpayet,20200213104528,chpayet,20200723133909,{D3B131D0-1288-4D8A-9E74-40472D5DE748},NaN,6.977148,43.563042
17,4802,NaN,Colonne aérienne,3 m3,1,,NaN,Déchèterie tourrades,NaN,6029,NaN,NaN,chpayet,20200826083909,chpayet,20200826083909,{7382AF7A-D219-4DE9-8B9A-65593DAF4080},NaN,6.954771,43.556969
18,2801,NaN,PAV cuve enterrée,4 m3,1,,NaN,Rue saint jacques,NaN,6085,NaN,NaN,chpayet,20200602131959,chpayet,20200727103406,{D89F7682-5FC9-4EB0-995F-81938FE474B9},NaN,7.041420,43.588951
19,2002,NaN,PAV cuve enterrée,4 m3,1,,NaN,89 avenue du moulin de la croix,NaN,6085,NaN,NaN,chpayet,20200429101839,chpayet,20200727112558,{EF6546F0-9792-4F7B-83F1-3F65A0775789},NaN,6.997445,43.600960
20,1605,NaN,Colonne aérienne,4 m3,1,,NaN,559 avenue de tournamy,NaN,6085,NaN,NaN,chpayet,20200417093716,chpayet,20200727112653,{9B14CCCC-71B8-4195-8938-F938B000B3EF},NaN,6.986300,43.601952
21,2401,NaN,Colonne aérienne,4 m3,1,,NaN,615 avenue Maurice donat,NaN,6085,Mougin school,NaN,chpayet,20200514084135,chpayet,20200727113503,{0164BDF5-1283-4BF9-9530-C10713C113F9},NaN,7.014427,43.612484
22,3202,NaN,PAV cuve enterrée,4 m3,1,,NaN,Allée Henri barbara,NaN,6085,NaN,NaN,chpayet,20200622132945,chpayet,20200727113529,{57384DAB-3CF8-4D44-816B-F0A0AFD0A5E6},NaN,7.011071,43.607235
24,1604,NaN,PAV cuve enterrée,4 m3,1,,NaN,Avenue maréchal juin,NaN,6085,NaN,NaN,chpayet,20200417091539,chpayet,20200727113641,{E9CCE624-56F6-453C-966E-E7B750D0034C},NaN,6.988142,43.596275
25,2003,NaN,Colonne aérienne,4 m3,1,,NaN,Chemin de la grande bastide,NaN,6085,NaN,NaN,chpayet,20200429103552,chpayet,20200727113701,{38BD9FD9-7A4A-4871-9F98-8731943B459F},NaN,6.990418,43.590302
26,801,NaN,Colonne aérienne,4 m3,1,,NaN,Chemin de campane,NaN,6085,NaN,NaN,chpayet,20200220081638,chpayet,20200727113720,{419AECE2-E73A-42FE-BC63-4CE27EEB6FBB},NaN,6.998515,43.587776
27,802,NaN,Colonne aérienne,4 m3,1,,NaN,763 chemin des cabrieres,NaN,6085,NaN,NaN,chpayet,20200220082833,chpayet,20200727113741,{A03747C1-2F33-4B6A-A496-038A029A7393},NaN,6.988269,43.583363
28,1603,NaN,PAV cuve enterrée,4 m3,1,,NaN,Chemin de faissole,NaN,6085,NaN,NaN,chpayet,20200417090530,chpayet,20200727113758,{2E1C9196-FC83-49FA-BE08-7F15677DA591},NaN,6.997938,43.583599
29,3203,NaN,Colonne aérienne,4 m3,1,,NaN,Chemin de font de currault,NaN,6085,NaN,NaN,chpayet,20200622135444,chpayet,20200727113818,{CA5B8415-90DA-4469-85CE-14DF03F66FBD},NaN,7.032435,43.591408
32,1204,NaN,PAV cuve enterrée,4 m3,1,,NaN,Avenue lamartine,NaN,6085,NaN,NaN,chpayet,20200310095602,chpayet,20200727123911,{3D9735F1-2B61-422C-81FB-CD590F48C046},NaN,6.984938,43.574421

Tous les collecteurs ont des adresses différentes

In [36]:
dataPapier.adresse.value_counts()

Rue cite des jardins               1
21 avenue thiers                   1
10 boulevard d olivetum            1
89 avenue du moulin de la croix    1
Allée Henri barbara                1
Avenue maréchal juin               1
Boulevard Jacques monod            1
Parking jean giono                 1
Rue Marcel pagnol                  1
Chemin de la plaine                1
Place benidorm                     1
24 avenue de la pinede             1
763 chemin des cabrieres           1
Avenue Georges Pompidou            1
Chemin de la grande bastide        1
Chemin de campane                  1
Déchèterie tourrades               1
Chemin de coudouron                1
Chemin du refuge                   1
Cimetiere du claus                 1
Chemin de faissole                 1
Rue des orangers                   1
2 chemin des vallons               1
Rue saint jacques                  1
Boulevard de l esterel             1
Avenue font roubert                1
Chemin de font de currault         1
Avenue lamartine                   1
615 avenue Maurice donat           1
559 avenue de tournamy             1
Avenue du repos                    1
1332 avenue notre dame de vie      1
7 chemin de l aubarede             1
6 avenue Maurice jean pierre       1
Name: adresse, dtype: int64

Ces collecteurs sont principalement répartis entre Mougins et Le Cannet

In [37]:
dataPapier.code_insee.value_counts()

6085    17
6030    16
6029     1
Name: code_insee, dtype: int64

1 observation est indiquée

In [38]:
dataPapier[dataPapier.observations.notna()]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
21,2401,NaN,Colonne aérienne,4 m3,1,,NaN,615 avenue Maurice donat,NaN,6085,Mougin school,NaN,chpayet,20200514084135,chpayet,20200727113503,{0164BDF5-1283-4BF9-9530-C10713C113F9},NaN,7.014427,43.612484

## Jeu de données des des collecteurs d'emballages et papiers
### Aperçu du fichier
Il contient 20 variables que l'on pourra étudier :
* objectid : Identifiant de la déchèterie
* id :
* type : type de collecteur
* volume : volume du collecteur (en L ou en m<sup>3</sup>)
* quantite : quantité de collecteurs
* marque : marque du collecteur
* date_instal : date d'installation du collecteur
* adresse : adresse du collecteur
* adresse_comp : complément de l'adresse du collecteur
* code_insee : code INSEE de la ville (différent du code départemental)
* observations : observations éventuelles
* accessibilite :
* creation : pseudo de la personne qui a enregistré le collecteur dans la BDD
* date_creation : date et temps de l'enregistrement du collecteur dans la BDD
* modification : peudo de la personne qui a modifié en dernier le collecteur dans la BDD
* date_modification : date et temps de la dernière modification du collecteur dans la BDD
* globalid : GUID (Globally Unique IDentifier)
* etat : 
* _x : longitude du collecteur
* _y : latitude du collecteur

In [39]:
dataTri.head()

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
0,1202,6601902190,Bac aérien sans cache bac,660 L,1,,NaN,Gare tsm,NaN,6138.0,NaN,NaN,chpayet,20191204083647,chpayet,20191204083647,{0BF5EDFF-B6EC-4A9B-9A85-D5C43F338FFF},NaN,6.936994,43.513302
1,1203,6601902012,Bac aérien sans cache bac,660 L,1,Contenur,NaN,Prince des iles,NaN,6138.0,NaN,NaN,chpayet,20191204084515,chpayet,20191204084515,{CBC5605B-2FC8-4F3F-BC2D-FF846415E9D7},NaN,6.937348,43.509136
2,1204,6601901994,Bac aérien sans cache bac,660 L,1,Contenur,NaN,Eglise trottoir château avenue de lerins,NaN,6138.0,NaN,NaN,chpayet,20191204085152,chpayet,20191204085152,{EA97EB92-2BC7-4B8C-93A4-3DD0C6860CD5},NaN,6.938404,43.508076
3,1205,6601901971,Bac aérien sans cache bac,,1,Contenur,NaN,Avenue de lerins angle traverse magasin souvenir,NaN,6138.0,NaN,NaN,chpayet,20191204085827,chpayet,20191204085827,{4A1D509F-70AF-476A-9436-9A0BDC2B9903},NaN,6.940569,43.507717
4,1206,6601902153,Bac aérien sans cache bac,660 L,1,Contenur,NaN,Avenue montrer résidence aquarella,NaN,6138.0,NaN,NaN,chpayet,20191204090411,chpayet,20191204090411,{6F6BE0FD-DB47-4034-8D38-2193ABE495AA},NaN,6.940699,43.507584

### Dimension du jeu de données

In [40]:
 print("Le jeu de données recense", dataTri.shape[0], "collecteurs avec", dataTri.shape[1], "variables")

Le jeu de données recense 239 collecteurs avec 20 variables

### Valeurs manquantes
Le jeu de données n'est pas complet

Aucun des collecteurs ne possède de valeur pour date_instal, accessibilite et etat

La plupart des collecteurs n'a pas d'id ni de complément d'adresse, ni d'observation (ce qui n'est pas gênant)

Il manque un code INSEE (06138 pour Avenue de la côte d azur à Théoule-sur-Mer) et un nom de marque

D'autres manques sont précisés dans la partie Notes générales

In [41]:
dataTri.isna().sum()

objectid               0
id                   191
type                   0
volume                 0
quantite               0
marque                 1
date_instal          239
adresse                0
adresse_comp         219
code_insee             1
observations         237
accessibilite        239
creation               0
date_creation          0
modification           0
date_modification      0
globalid               0
etat                 239
_x                     0
_y                     0
dtype: int64

In [42]:
dataTri[dataTri.code_insee.isna()]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
41,1619,NaN,Colonne aérienne,5 m3,2,,NaN,Avenue de la côte d azur,A côté du snack,NaN,NaN,NaN,chpayet,20191206104325,chpayet,20191206104325,{4CFBB363-B51A-47F8-9DA6-4B71D642A26E},NaN,6.945003,43.493664

In [43]:
dataTri[dataTri.marque.isna()]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
71,2805,NaN,Bac aérien avec cache bac,660 L,1,NaN,NaN,Rue des hautes roches,NaN,6079.0,NaN,NaN,chpayet,20200107144013,chpayet,20200107144013,{272DED53-87E1-4E65-9673-0808E3C566CD},NaN,6.93992,43.52433

### Décompte des doublons

In [44]:
dataTri.duplicated().sum()

0

### Notes générales

Tous les type de collecteur sont précisés

In [45]:
dataTri.type.value_counts()

Bac aérien sans cache bac    105
Bac aérien avec cache bac     47
PAV cuve enterrée             45
Colonne aérienne              25
PAV enterré ascenseur         15
PAV cuve compactrice           2
Name: type, dtype: int64

4 collecteurs n'ont pas le volume précisé (il est peut-être possible de retrouver le volume par comparaison des photographies)

In [46]:
dataTri.volume.value_counts()

660 L    124
3 m3      38
4 m3      22
2 m3      20
340 L     14
750 L      8
5 m3       5
240 L      4
           4
Name: volume, dtype: int64

In [47]:
dataTri[dataTri.volume == " "]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
3,1205,6601901971,Bac aérien sans cache bac,,1,Contenur,NaN,Avenue de lerins angle traverse magasin souvenir,NaN,6138.0,NaN,NaN,chpayet,20191204085827,chpayet,20191204085827,{4A1D509F-70AF-476A-9436-9A0BDC2B9903},NaN,6.940569,43.507717
11,1601,6601902149,Bac aérien sans cache bac,,1,Contenur,NaN,Rue du sanglier,NaN,6138.0,NaN,NaN,chpayet,20191206083601,chpayet,20191206083601,{18A21742-B694-419A-B1E5-878C3468DB18},NaN,6.940382,43.505402
28,1606,NaN,Colonne aérienne,,1,Plastic Omnium,NaN,37 avenue miramar,NaN,6138.0,NaN,NaN,chpayet,20191206090811,chpayet,20191206090811,{61E9863A-23C4-4EA2-A353-BB3876F9A790},NaN,6.941048,43.486649
80,3210,NaN,Colonne aérienne,,1,Plastic Omnium,NaN,Rue Yves brayer,NaN,6079.0,NaN,NaN,chpayet,20200109140102,chpayet,20200109140241,{EBDD8B98-DEA4-4CB0-97B6-94FA1AC06134},NaN,6.919230,43.524628

42 collecteurs ont la marque " " (soit 42 sans marque à ajouter à celui détecté précédemment)

In [48]:
dataTri.marque.value_counts()

Contenur          151
                   42
Plastic Omnium     29
Ecollect           14
Citec               2
Name: marque, dtype: int64

In [49]:
dataTri[dataTri.marque == " "]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
0,1202,6601902190,Bac aérien sans cache bac,660 L,1,,NaN,Gare tsm,NaN,6138.0,NaN,NaN,chpayet,20191204083647,chpayet,20191204083647,{0BF5EDFF-B6EC-4A9B-9A85-D5C43F338FFF},NaN,6.936994,43.513302
29,1607,6601902216,Bac aérien sans cache bac,660 L,1,,NaN,37 avenue miramar,NaN,6138.0,NaN,NaN,chpayet,20191206090918,chpayet,20191206090918,{AEB57920-27D5-4511-ADDA-6FCC24C37686},NaN,6.941064,43.486656
41,1619,NaN,Colonne aérienne,5 m3,2,,NaN,Avenue de la côte d azur,A côté du snack,NaN,NaN,NaN,chpayet,20191206104325,chpayet,20191206104325,{4CFBB363-B51A-47F8-9DA6-4B71D642A26E},NaN,6.945003,43.493664
70,4808,NaN,Bac aérien avec cache bac,750 L,2,,NaN,Quai saint pierre,NaN,6029.0,NaN,NaN,chpayet,20200205103951,chpayet,20200205103951,{A5A02AA2-CAEC-446F-B4E3-4A094E9CE55B},NaN,7.012471,43.549255
74,2806,NaN,PAV cuve enterrée,4 m3,1,,NaN,Parking jean aulas,NaN,6079.0,NaN,NaN,chpayet,20200107144816,chpayet,20200107152043,{B8D9D8F9-FEEA-4B83-976B-497EC42AE4F6},NaN,6.940715,43.523430
76,3206,NaN,PAV cuve enterrée,4 m3,1,,NaN,Place de Provence,NaN,6079.0,NaN,NaN,chpayet,20200109133707,chpayet,20200109133707,{540FCCC3-A086-48D8-95D5-97AC2D0358B0},NaN,6.927918,43.528706
77,3207,NaN,PAV cuve enterrée,4 m3,1,,NaN,Place de Provence,NaN,6079.0,NaN,NaN,chpayet,20200109133926,chpayet,20200109133926,{929129BB-C398-4DDB-9A53-07833F0741B7},NaN,6.927670,43.528378
82,3212,NaN,PAV cuve enterrée,4 m3,1,,NaN,Avenue Robert schuman,NaN,6079.0,NaN,NaN,chpayet,20200109142602,chpayet,20200109142602,{A62EC4AC-9070-4909-B7A3-DDDA50CD0503},NaN,6.924716,43.540428
83,3213,NaN,Bac aérien sans cache bac,660 L,4,,NaN,Avenue Robert Schuman,NaN,6079.0,NaN,NaN,chpayet,20200109143452,chpayet,20200109143749,{D81CC18E-E65F-4816-A55D-ECFFFC075EE2},NaN,6.917873,43.538963
85,3605,NaN,PAV cuve compactrice,5 m3,1,,NaN,Rue Félix faure,NaN,6029.0,Marque sidcon,NaN,chpayet,20200128085112,chpayet,20200128085125,{D813424C-8239-47D1-BA9E-D17BA17869FB},NaN,7.015219,43.552151
86,3606,NaN,PAV cuve compactrice,5 m3,1,,NaN,Rue Félix faure,NaN,6029.0,NaN,NaN,chpayet,20200128085618,chpayet,20200128085618,{58705BD9-6456-4AA2-908B-9B91944F1574},NaN,7.014500,43.552090
88,3608,NaN,Bac aérien sans cache bac,660 L,1,,NaN,2 rue Louis blanc,NaN,6029.0,NaN,NaN,chpayet,20200128090515,chpayet,20200128090515,{9B23ECFF-ED84-4934-9575-2CF97B67776B},NaN,7.013467,43.551582
104,5213,NaN,PAV cuve enterrée,5 m3,1,,NaN,Square Frédéric mistral,NaN,6029.0,Accès avec clé,NaN,chpayet,20200210094029,chpayet,20200210094029,{BD230893-813E-4599-BAC6-358F26475DA3},NaN,7.007330,43.548889
114,6011,NaN,PAV cuve enterrée,3 m3,1,,NaN,31 rue de mimont,NaN,6029.0,NaN,NaN,chpayet,20200212085306,chpayet,20200212085306,{F7366787-D473-40B8-9F81-75D52AC66FC7},NaN,7.022240,43.555428
119,8009,NaN,PAV cuve enterrée,3 m3,1,,NaN,Rue amador lopez,NaN,6029.0,NaN,NaN,chpayet,20200417075136,chpayet,20200417075136,{59F01BEB-498E-4B3A-8D75-9FEB5CD2D238},NaN,6.963228,43.556072
121,6409,NaN,PAV cuve enterrée,3 m3,1,,NaN,177 avenue de la république,NaN,6029.0,NaN,NaN,chpayet,20200213084327,chpayet,20200213084327,{FDED27DE-F229-48C7-9E2F-5D71056C2F05},NaN,7.020993,43.562805
122,8010,NaN,PAV cuve enterrée,3 m3,1,,NaN,Chemin des rainettes,NaN,6029.0,NaN,NaN,chpayet,20200417080037,chpayet,20200417080037,{CD6D6053-E42F-4478-B41E-B8392A0A054C},NaN,6.963045,43.557186
130,6417,NaN,Bac aérien sans cache bac,660 L,1,,NaN,102 boulevard du perrier,NaN,6030.0,NaN,NaN,chpayet,20200213103858,chpayet,20200213103858,{6691A044-8EF7-4F81-AFA7-D58F5AE7489B},NaN,6.988940,43.566536
136,6809,NaN,Colonne aérienne,3 m3,1,,NaN,Allée de la marine,NaN,6079.0,NaN,NaN,chpayet,20200217142455,chpayet,20200217143036,{129BD8F5-DDFC-4E3C-8DF7-A35195CEE85E},NaN,6.940057,43.537712
137,8011,NaN,PAV cuve enterrée,3 m3,1,,NaN,Chemin du caroubier,NaN,6029.0,NaN,NaN,chpayet,20200417080453,chpayet,20200417080453,{5035BC7B-492A-424B-9962-9266F1226E49},NaN,6.962537,43.557564
138,7209,NaN,PAV cuve enterrée,2 m3,1,,NaN,Boulevard louis negrin,NaN,6029.0,NaN,NaN,chpayet,20200218144706,chpayet,20200218144706,{D97C5FA5-8A65-48CF-A94C-489086E14FD5},NaN,6.976105,43.549763
139,8809,NaN,PAV cuve enterrée,2 m3,1,,NaN,Avenue de la pinea,NaN,6079.0,NaN,NaN,chpayet,20200505075441,chpayet,20200505075441,{B7A52CF8-673F-4239-83B8-9C920B18C49B},NaN,6.945637,43.535511
144,8013,NaN,PAV cuve enterrée,3 m3,1,,NaN,Rue Alfred de musset,NaN,6029.0,NaN,NaN,chpayet,20200417084249,chpayet,20200417084249,{77F8D3F4-4849-4BDD-B02D-75BCE686BBF9},NaN,6.966166,43.569683
145,8810,NaN,PAV cuve enterrée,2 m3,1,,NaN,Route du golf,NaN,6079.0,NaN,NaN,chpayet,20200505081608,chpayet,20200505081608,{BEBCB2A8-F401-4B24-8903-D0EF5C7095F0},NaN,6.937829,43.532169
147,8015,NaN,Bac aérien sans cache bac,660 L,1,,NaN,Chemin de l estelle,NaN,6030.0,NaN,NaN,chpayet,20200417110950,chpayet,20200417110950,{180334D9-CE69-41C2-BE86-B449827ED594},NaN,6.997187,43.571163
148,8409,NaN,PAV cuve enterrée,3 m3,1,,NaN,Chemin de l horizon,NaN,6085.0,NaN,NaN,chpayet,20200429102508,chpayet,20200429102508,{241CABA8-7AA9-484B-B640-CD3760AB4405},NaN,6.994683,43.599747
152,8812,NaN,PAV cuve enterrée,2 m3,1,,NaN,Rue saint Vincent de paul,NaN,6079.0,NaN,NaN,chpayet,20200505094135,chpayet,20200505094135,{D817580E-0A79-4B70-BF1F-E22E0FEAF3E5},NaN,6.938528,43.541245
159,8816,NaN,PAV cuve enterrée,2 m3,1,,NaN,Avenue des anciens combattants,Gymnase costerousse,6079.0,NaN,NaN,chpayet,20200505100439,chpayet,20200505100439,{4D129F98-05BF-45FC-A59E-61DCDFD2FC00},NaN,6.941447,43.554680
160,8817,NaN,PAV cuve enterrée,2 m3,1,,NaN,Place des mimosas,NaN,6079.0,NaN,NaN,chpayet,20200505103404,chpayet,20200505103404,{51A53641-3B0F-4E24-B6CA-A3636371F60A},NaN,6.937826,43.544334
162,12030,NaN,PAV enterré ascenseur,2 m3,1,,NaN,Boulevard chanoine Francis coeuret,NaN,6029.0,NaN,NaN,chpayet,20200630115958,chpayet,20200630115958,{66303D73-1B5E-4C59-A4C3-C67866EA94B8},NaN,7.037538,43.545086
178,10838,NaN,PAV cuve enterrée,2 m3,2,,NaN,Place du souvenir français,NaN,6079.0,NaN,NaN,chpayet,20200618132727,chpayet,20200618132727,{F8E6C190-4DF0-4FB8-AF8D-00C1B6BA1AE2},NaN,6.937433,43.555164
179,10839,NaN,PAV cuve enterrée,2 m3,1,,NaN,Rue du docteur escarras,NaN,6079.0,NaN,NaN,chpayet,20200618133121,chpayet,20200618133121,{D7F44F72-2A48-4A86-B151-FC9971D719AC},NaN,6.938593,43.556293
181,10841,NaN,PAV cuve enterrée,2 m3,1,,NaN,Avenue bon pin,NaN,6079.0,NaN,NaN,chpayet,20200618134812,chpayet,20200618134812,{BFA22C4E-4C99-476D-B6FD-40E47FA99928},NaN,6.939240,43.562771
193,13630,NaN,Colonne aérienne,4 m3,2,,NaN,Rue Jean monnet,NaN,6079.0,NaN,NaN,chpayet,20200817085306,chpayet,20200817085306,{A61E0FC0-66A7-421E-A219-352C98C19735},NaN,6.916720,43.541203
204,9625,NaN,PAV cuve enterrée,2 m3,1,,NaN,Avenue janvier passero,NaN,6079.0,NaN,NaN,chpayet,20200512092031,chpayet,20200512092031,{243B9DC7-9B56-4CD4-93CF-F739343EDAD5},NaN,6.938297,43.553978
206,9626,NaN,PAV cuve enterrée,2 m3,1,,NaN,295 avenue janvier passero,NaN,6079.0,NaN,NaN,chpayet,20200512093117,chpayet,20200512093117,{B757CD7E-4D62-4201-86D7-76CA8B9BCBCC},NaN,6.938170,43.550667
208,12430,NaN,PAV cuve enterrée,2 m3,2,,NaN,Avenue de la république,Parking public,6079.0,NaN,NaN,chpayet,20200721130703,chpayet,20200721130805,{ABF7EDE4-6DD2-4AFA-971C-B1166F6DF465},NaN,6.933092,43.541439
213,9629,NaN,PAV cuve enterrée,2 m3,1,,NaN,26 avenue maréchal juin,NaN,6029.0,NaN,NaN,chpayet,20200512125529,chpayet,20200512125529,{98747488-AF0C-415A-9401-D0CA21B13D04},NaN,7.033321,43.550426
223,14831,NaN,PAV cuve enterrée,4 m3,1,,NaN,Boulevard esterel parc,NaN,6079.0,NaN,NaN,chpayet,20200824122219,chpayet,20200824122219,{67B11D05-45F2-483B-B5FA-0DB002043FA6},NaN,6.933095,43.535786
226,14834,NaN,PAV cuve enterrée,4 m3,1,,NaN,Avenue Marcel pagnol,NaN,6079.0,NaN,NaN,chpayet,20200824134241,chpayet,20200824134241,{C1955642-8C7F-4C46-9AED-6259D52EDF52},NaN,6.942438,43.547234
235,16030,NaN,Bac aérien sans cache bac,660 L,1,,NaN,Impasse du tambourin,NaN,6079.0,NaN,NaN,chpayet,20200827084730,chpayet,20200827084730,{361B4F57-A0B2-4004-BA17-8810375B931E},NaN,6.931079,43.565300
236,16031,NaN,Bac aérien sans cache bac,660 L,1,,NaN,Chemin des fougères,NaN,6079.0,NaN,NaN,chpayet,20200827090002,chpayet,20200827090002,{42370979-1A59-4304-96DF-4A100A63E1E9},NaN,6.930059,43.558243

Plusieurs collecteurs partagent la même adresse

In [50]:
dataTri.adresse.value_counts()

Port canto                                  6
Avenue corniche d or                        4
Avenue van loo                              3
Avenue Marcel pagnol                        3
Place de l etang                            2
                                           ..
Allée des mesanges                          1
53 avenue Michel jourdan                    1
Résidence les terrasses de saint honorat    1
Allée calypso                               1
Allée des pins                              1
Name: adresse, Length: 212, dtype: int64

Ces collecteurs sont répartis sur toute l'agglomération

In [51]:
dataTri.code_insee.value_counts()

6029.0    91
6138.0    62
6079.0    51
6030.0    27
6085.0     7
Name: code_insee, dtype: int64

2 commentaires sont indiqués (dont 1 pour spécifier la marque)

In [52]:
dataTri[dataTri.observations.notna()]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
85,3605,NaN,PAV cuve compactrice,5 m3,1,,NaN,Rue Félix faure,NaN,6029.0,Marque sidcon,NaN,chpayet,20200128085112,chpayet,20200128085125,{D813424C-8239-47D1-BA9E-D17BA17869FB},NaN,7.015219,43.552151
104,5213,NaN,PAV cuve enterrée,5 m3,1,,NaN,Square Frédéric mistral,NaN,6029.0,Accès avec clé,NaN,chpayet,20200210094029,chpayet,20200210094029,{BD230893-813E-4599-BAC6-358F26475DA3},NaN,7.007330,43.548889

## Jeu de données des des collecteurs de verre
### Aperçu du fichier
Il contient 20 variables que l'on pourra étudier :
* objectid : Identifiant de la déchèterie
* id :
* type : type de collecteur
* volume : volume du collecteur (en L ou en m<sup>3</sup>)
* quantite : quantité de collecteurs
* marque : marque du collecteur
* date_instal : date d'installation du collecteur
* adresse : adresse du collecteur
* adresse_comp : complément de l'adresse du collecteur
* code_insee : code INSEE de la ville (différent du code départemental)
* observations : observations éventuelles
* accessibilite :
* creation : pseudo de la personne qui a enregistré le collecteur dans la BDD
* date_creation : date et temps de l'enregistrement du collecteur dans la BDD
* modification : peudo de la personne qui a modifié en dernier le collecteur dans la BDD
* date_modification : date et temps de la dernière modification du collecteur dans la BDD
* globalid : GUID (Globally Unique IDentifier)
* etat : 
* _x : longitude du collecteur
* _y : latitude du collecteur

In [53]:
dataVerre.head()

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
0,801,NaN,Colonne aérienne,2 m3,1,Plastic Omnium,NaN,Parking vallon de l autelgy,NaN,6138,NaN,NaN,chpayet,20191204095255,chpayet,20191204095255,{8C8A3146-8C8C-42B1-A448-EE103992E272},NaN,6.937228,43.503468
1,3601,NaN,PAV cuve enterrée,3 m3,1,Contenur,NaN,Rue massena,NaN,6029,NaN,NaN,chpayet,20200205083327,chpayet,20200205083327,{2066B095-8486-432C-8663-0B36B4C81159},NaN,7.017053,43.564602
2,1201,NaN,Colonne aérienne,4 m3,1,Plastic Omnium,NaN,37 avenue miramar,NaN,6138,NaN,NaN,chpayet,20191206090657,chpayet,20191206090657,{85771445-84A5-4946-BD65-E9F2CB95A7CA},NaN,6.941038,43.486687
3,1601,NaN,PAV cuve enterrée,4 m3,1,,NaN,Parking jean aulas,NaN,6079,NaN,NaN,chpayet,20200107144907,chpayet,20200107151944,{BB3F959C-2915-455B-8665-C1958EC20BEE},NaN,6.940708,43.523388
4,1202,NaN,Colonne aérienne,2 m3,1,Plastic Omnium,NaN,16 avenue du treyas,Parking face restaurant matipi,6138,NaN,NaN,chpayet,20191206092934,chpayet,20191206093820,{7BDBEF7C-741B-4EA2-83F8-B8C3222377DC},NaN,6.929948,43.484100

### Dimension du jeu de données

In [54]:
 print("Le jeu de données recense", dataVerre.shape[0], "collecteurs avec", dataVerre.shape[1], "variables")

Le jeu de données recense 247 collecteurs avec 20 variables

### Valeurs manquantes
Le jeu de données est presque complet mais des manques sont précisés dans la partie Notes générales

Aucun des collecteurs ne possède de valeur pour id, date_instal et etat

La plupart des collecteurs n'a pas de complément d'adresse, ni d'observation ni de note d'accessbilité (ce qui n'est pas gênant)

Il manque un nom de marque

In [55]:
dataVerre.isna().sum()

objectid               0
id                   247
type                   0
volume                 0
quantite               0
marque                 1
date_instal          247
adresse                0
adresse_comp         222
code_insee             0
observations         177
accessibilite        235
creation               0
date_creation          0
modification           0
date_modification      0
globalid               0
etat                 247
_x                     0
_y                     0
dtype: int64

In [56]:
dataVerre[dataVerre.marque.isna()]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
21,3606,NaN,Colonne aérienne,2 m3,1,NaN,NaN,32 boulevard de lorraine,NaN,6029,Cliiink,NaN,chpayet,20200205093613,chpayet,20200205093613,{44EB09E9-AB65-4ACC-8685-BB111FCE8242},NaN,7.027551,43.552998

### Décompte des doublons

In [57]:
dataVerre.duplicated().sum()

0

### Notes générales

Un type de collecteur n'est pas précisé

In [58]:
dataVerre.type.value_counts()

Colonne aérienne     155
PAV cuve enterrée     91
                       1
Name: type, dtype: int64

In [59]:
dataVerre[dataVerre.type == " "]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
46,4411,NaN,,2 m3,1,,NaN,12 bd du moulin,NaN,6029,Cliiink,NaN,chpayet,20200210101206,chpayet,20200210101206,{C2FC8587-14E1-47FE-9B67-49DA2D16409D},NaN,7.007102,43.554081

1 collecteurs n'a pas le volume précisé (il est peut-être possible de retrouver le volume par comparaison des photographies)

In [60]:
dataVerre.volume.value_counts()

2 m3    108
4 m3     71
3 m3     67
          1
Name: volume, dtype: int64

In [61]:
dataVerre[dataVerre.volume == " "]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
32,3610,NaN,PAV cuve enterrée,,1,,NaN,Allées de la liberte,NaN,6029,NaN,NaN,chpayet,20200205102900,chpayet,20200205102900,{8E40D486-52F3-4348-A69E-05EEEB7A5D66},NaN,7.01616,43.551823

165 collecteurs ont la marque " " (soit 165 sans marque à ajouter à celui détecté précédemment)

In [62]:
dataVerre.marque.value_counts()

                  165
Plastic Omnium     46
Contenur           25
Ecollect            7
Citec               3
Name: marque, dtype: int64

In [63]:
dataVerre[dataVerre.marque == " "]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
3,1601,NaN,PAV cuve enterrée,4 m3,1,,NaN,Parking jean aulas,NaN,6079,NaN,NaN,chpayet,20200107144907,chpayet,20200107151944,{BB3F959C-2915-455B-8665-C1958EC20BEE},NaN,6.940708,43.523388
10,2002,NaN,PAV cuve enterrée,4 m3,1,,NaN,Place de provence,NaN,6079,NaN,NaN,chpayet,20200109133806,chpayet,20200109133806,{D0A7BC88-1178-4D57-9DC0-DCB31FA6A0F1},NaN,6.927899,43.528717
12,2003,NaN,PAV cuve enterrée,4 m3,1,,NaN,Place de Provence,NaN,6079,NaN,NaN,chpayet,20200109134011,chpayet,20200109134011,{83093452-9E4C-40B1-93DC-71685B53EEF9},NaN,6.927634,43.528385
14,2005,NaN,PAV cuve enterrée,4 m3,1,,NaN,Avenue Robert schuman,NaN,6079,NaN,NaN,chpayet,20200109142650,chpayet,20200109142650,{DDA78DC1-F178-4F3D-BC26-4F918D8527FC},NaN,6.924761,43.540428
16,2006,NaN,Colonne aérienne,3 m3,1,,NaN,Avenue Robert Schuman,NaN,6079,NaN,NaN,chpayet,20200109143304,chpayet,20200109143304,{82033326-658A-4294-AE25-6AF6C2625AB9},NaN,6.917920,43.538967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,17616,NaN,Colonne aérienne,3 m3,1,,NaN,Quai saint pierre,NaN,6029,NaN,NaN,chpayet,20200826104207,chpayet,20200826104207,{909437DD-6156-49A1-9D07-79FF642C2F27},NaN,7.012311,43.549591
239,8010,NaN,PAV cuve enterrée,4 m3,1,,NaN,89 avenue du moulin de la croix,NaN,6085,Cliiink,NaN,chpayet,20200429101943,chpayet,20200727112522,{49967CED-F997-4F6E-912E-6F67E6FDBD06},NaN,6.997450,43.600979
240,7616,NaN,Colonne aérienne,4 m3,1,,NaN,559 Avenue de tournamy,NaN,6085,NaN,NaN,chpayet,20200417093631,chpayet,20200727112720,{0378EE97-249E-4D88-AC58-BAE3B29B6549},NaN,6.986272,43.601948
241,17617,NaN,Colonne aérienne,4 m3,1,,NaN,Jetée Albert Édouard,NaN,6029,Cliiink,NaN,chpayet,20200826110951,chpayet,20200826110951,{63D92ABB-A0B8-4179-B954-D378360AE4AA},NaN,7.017046,43.548573
244,7210,NaN,PAV cuve enterrée,4 m3,1,,NaN,Avenue lamartine,NaN,6085,NaN,NaN,chpayet,20200310095656,chpayet,20200727124020,{1C052AE4-0F18-4195-902C-21DFA6CBCFE0},NaN,6.985004,43.574413

Plusieurs collecteurs partagent la même adresse

In [64]:
dataVerre.adresse.value_counts()

Chemin de garibondy            2
Chemin bastide rouge           2
Route du golf                  2
Avenue du riou                 2
Avenue des buissons ardents    2
                              ..
1 rue de lerins                1
Avenue janvier passero         1
allee henri barbara            1
Domaine du grand duc           1
Rue Félix faure                1
Name: adresse, Length: 237, dtype: int64

Ces collecteurs sont nombreux à Cannes

In [65]:
dataVerre.code_insee.value_counts()

6029    141
6030     42
6079     39
6085     19
6138      6
Name: code_insee, dtype: int64

70 commentaires sont indiqués dont 69 pour préciser qu'il s'agit du dispositif Cliiink (à harmoniser)

In [66]:
dataVerre[dataVerre.observations.notna()]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
21,3606,NaN,Colonne aérienne,2 m3,1,NaN,NaN,32 boulevard de lorraine,NaN,6029,Cliiink,NaN,chpayet,20200205093613,chpayet,20200205093613,{44EB09E9-AB65-4ACC-8685-BB111FCE8242},NaN,7.027551,43.552998
22,2403,NaN,Colonne aérienne,2 m3,1,,NaN,Rue Louis Blanc,NaN,6029,Cliiink,Oui,chpayet,20200128092519,chpayet,20200128092519,{1B25A481-FA71-4110-B3A3-80E990577707},NaN,7.012897,43.552677
27,3608,NaN,Colonne aérienne,2 m3,1,,NaN,1 rue de lerins,NaN,6029,Cliiink,NaN,chpayet,20200205101056,chpayet,20200205101056,{13422586-12A7-4648-A89C-5FD30B8CF394},NaN,7.026492,43.551556
29,3204,NaN,PAV cuve enterrée,4 m3,1,,NaN,Rue cité jardin,NaN,6030,Cliiink,NaN,chpayet,20200130134852,chpayet,20200130134852,{6A1F143D-B0ED-4BA0-852E-DA87DDDB81AA},NaN,6.998053,43.576694
33,3208,NaN,Colonne aérienne,3 m3,1,Citec,NaN,Rue de cannes impasse bracco,NaN,6030,Cliiink,NaN,chpayet,20200130142816,chpayet,20200130142816,{794F5B1F-9499-4B0B-B1A9-B432A79E7FFA},NaN,7.019801,43.571999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,8011,NaN,Colonne aérienne,4 m3,1,,NaN,Chemin de la grande bastide,NaN,6085,Cliiink,NaN,chpayet,20200429103638,chpayet,20200727102707,{E82AD6BA-DEF2-4E60-97B7-339EC843B02F},NaN,6.990376,43.590302
225,7615,NaN,PAV cuve enterrée,4 m3,1,,NaN,Avenue maréchal juin,NaN,6085,Cliiink,NaN,chpayet,20200417091629,chpayet,20200727102825,{68B52455-1001-4ECA-8864-AB3691C59C5D},NaN,6.988114,43.596291
234,16818,NaN,PAV cuve enterrée,4 m3,1,,NaN,Avenue Marcel pagnol,NaN,6079,Cliiink,NaN,chpayet,20200824134326,chpayet,20200824134326,{E1D75A70-538A-4D54-8AA0-A9C66CE98B64},NaN,6.942297,43.547222
239,8010,NaN,PAV cuve enterrée,4 m3,1,,NaN,89 avenue du moulin de la croix,NaN,6085,Cliiink,NaN,chpayet,20200429101943,chpayet,20200727112522,{49967CED-F997-4F6E-912E-6F67E6FDBD06},NaN,6.997450,43.600979
241,17617,NaN,Colonne aérienne,4 m3,1,,NaN,Jetée Albert Édouard,NaN,6029,Cliiink,NaN,chpayet,20200826110951,chpayet,20200826110951,{63D92ABB-A0B8-4179-B954-D378360AE4AA},NaN,7.017046,43.548573

In [67]:
dataVerre.observations.value_counts()

Cliiink      55
Cliiink      14
Face gifi     1
Name: observations, dtype: int64

12 collecteurs ont le champs accessibilite complété

In [68]:
dataVerre[dataVerre.accessibilite.notna()]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
22,2403,NaN,Colonne aérienne,2 m3,1,,NaN,Rue Louis Blanc,NaN,6029,Cliiink,Oui,chpayet,20200128092519,chpayet,20200128092519,{1B25A481-FA71-4110-B3A3-80E990577707},NaN,7.012897,43.552677
62,15216,NaN,Colonne aérienne,3 m3,1,,NaN,30 avenue de la roubine,NaN,6029,NaN,Oui,chpayet,20200731111522,chpayet,20200731111522,{D71E4D12-82A5-475B-AE3A-3165971D0008},NaN,6.974566,43.548424
65,5212,NaN,Colonne aérienne,2 m3,1,,NaN,Pointe croisette,NaN,6029,Cliiink,Oui,chpayet,20200212094635,chpayet,20200212094635,{247A416F-DF46-4ABE-943E-5EC4A2F0E221},NaN,7.036671,43.537151
86,15217,NaN,Colonne aérienne,3 m3,1,,NaN,Chemin de garibondy,La Croix du sud,6030,NaN,Oui,chpayet,20200731133713,chpayet,20200731133713,{57EAECC4-1EC0-4138-91BD-EFB3CDC07104},NaN,6.983125,43.565845
88,8405,NaN,Colonne aérienne,2 m3,1,,NaN,161 avenue Francis toner,NaN,6029,Face gifi,Oui,chpayet,20200505072023,chpayet,20200505072023,{F7394B1B-5FF2-4F05-AF0E-7A69708CC2ED},NaN,6.970941,43.549644
121,9210,NaN,Colonne aérienne,2 m3,1,,NaN,Avenue saint exupery,NaN,6029,NaN,Oui,chpayet,20200512084130,chpayet,20200512084130,{2A8FE16A-89AA-4035-860E-CC94AD8239A4},NaN,6.954528,43.554916
146,12821,NaN,Colonne aérienne,2 m3,1,,NaN,Boulevard du midi,NaN,6029,NaN,Oui,chpayet,20200630132515,chpayet,20200630132515,{833672D2-ECBC-44D2-8CE7-F0A677FBA5D0},NaN,6.962455,43.542328
176,5614,NaN,Colonne aérienne,4 m3,1,Plastic Omnium,NaN,Avenue du général de gaulle,Parking casino,6030,Cliiink,Oui,chpayet,20200213102016,chpayet,20200722115150,{8E227332-164B-49D3-85D0-B2F6B5AADEF5},NaN,6.995798,43.569164
185,5612,NaN,Colonne aérienne,4 m3,1,Plastic Omnium,NaN,7 rue Jules ferry,NaN,6030,NaN,Oui,chpayet,20200213100426,chpayet,20200722120510,{AC290C63-7627-46E8-8D9F-C2D699565324},NaN,7.000851,43.572971
202,3210,NaN,Colonne aérienne,4 m3,1,Plastic Omnium,NaN,Avenue mont joli,NaN,6030,NaN,Oui,chpayet,20200130145916,chpayet,20200722123501,{623C649B-5178-4C7A-9FF0-0C7F6350E697},NaN,7.009541,43.580826
218,8808,NaN,Colonne aérienne,4 m3,1,Plastic Omnium,NaN,Chemin de gavary,NaN,6029,NaN,Oui,chpayet,20200507090608,chpayet,20200723132331,{0528846E-354E-46A0-A941-89E23E812E38},NaN,7.031658,43.570209
222,6805,NaN,Colonne aérienne,4 m3,1,Plastic Omnium,NaN,Chemin de campane,NaN,6085,Cliiink,Oui,chpayet,20200220081557,chpayet,20200727102639,{E198FC0D-D178-47A1-8220-4BA0FBE5DC98},NaN,6.998522,43.587772

## Jeu de données des des collecteurs de vêtements
### Aperçu du fichier
Il contient 16 variables que l'on pourra étudier :
* objectid : Identifiant de la déchèterie
* id :
* quantite : quantité de collecteurs
* date_instal : date d'installation du collecteur
* adresse : adresse du collecteur
* adresse_comp : complément de l'adresse du collecteur
* code_insee : code INSEE de la ville (différent du code départemental)
* observations : observations éventuelles
* creation : pseudo de la personne qui a enregistré le collecteur dans la BDD
* date_creation : date et temps de l'enregistrement du collecteur dans la BDD
* modification : peudo de la personne qui a modifié en dernier le collecteur dans la BDD
* date_modification : date et temps de la dernière modification du collecteur dans la BDD
* globalid : GUID (Globally Unique IDentifier)
* etat : 
* _x : longitude du collecteur
* _y : latitude du collecteur

In [69]:
dataVetement.head()

,objectid,id,quantite,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
0,401,Kfb,1,NaN,Jb pastor,NaN,6138.0,NaN,chpayet,20191204094617,chpayet,20191204094617,{2525224C-A21B-44BB-9899-4F6EEC9F5A16},NaN,6.938207,43.504417
1,801,NaN,1,NaN,Place saint feneant,NaN,6079.0,NaN,chpayet,20200107145050,chpayet,20200107145050,{C94FC7C5-FF62-4A58-8A07-CF4E12AE8E7C},NaN,6.940886,43.523136
2,2001,NaN,1,NaN,14 boulevard mont fleury,NaN,6029.0,NaN,chpayet,20200205091833,chpayet,20200205091833,{C7DA2614-E06A-4CE2-A527-D70DADA2056E},NaN,7.028258,43.555180
3,1201,NaN,1,NaN,Parking bon puits,NaN,6079.0,NaN,chpayet,20200109130612,chpayet,20200109130612,{6568BAEC-1E62-49C0-B1BF-E90C93E5353C},NaN,6.932433,43.522522
4,1601,NaN,1,NaN,Rue cite jardin,NaN,6030.0,NaN,chpayet,20200130134611,chpayet,20200130134611,{E79685C0-DF72-4ACC-B027-993EA6424AE8},NaN,6.998100,43.576637

### Dimension du jeu de données

In [70]:
 print("Le jeu de données recense", dataVetement.shape[0], "collecteurs avec", dataVetement.shape[1], "variables")

Le jeu de données recense 61 collecteurs avec 16 variables

### Valeurs manquantes
Le jeu de données n'est pas complet.

Aucun des collecteurs ne possède de valeur pour date_instal 

La plupart des collecteurs n'a pas d'id ni de complément d'adresse, ni d'observation ni d'etat (ce qui n'est pas gênant)

Il manque 2 codes INSEE (06029 pour Avenue Maurice chevalier et 06030 pour Déchèterie du cannet)

In [71]:
dataVetement.isna().sum()

objectid              0
id                   60
quantite              0
date_instal          61
adresse               0
adresse_comp         56
code_insee            2
observations         60
creation              0
date_creation         0
modification          0
date_modification     0
globalid              0
etat                 60
_x                    0
_y                    0
dtype: int64

In [72]:
dataVetement[dataVetement.code_insee.isna()]

,objectid,id,quantite,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
19,3604,NaN,1,NaN,Avenue Maurice chevalier,Face palais des victoires,NaN,NaN,chpayet,20200213125458,chpayet,20200213125458,{20AC6A52-5E3F-4640-9D2F-10E0935BE33E},NaN,6.961508,43.551456
46,9604,NaN,1,NaN,Déchèterie du cannet,Traverse de l aubarede,NaN,NaN,chpayet,20200723092443,chpayet,20200723092443,{8A619D9D-52FF-453B-A1E1-043DE80F5DA0},NaN,6.984168,43.567005

### Décompte des doublons

In [73]:
dataVetement.duplicated().sum()

0

### Notes générales

Tous les collecteurs ont des adresses différentes

In [74]:
dataVetement.adresse.value_counts()

Boulevard de perrier           1
Avenue lacour                  1
22 rue Jean nobles             1
Place du souvenir français     1
2 chemin des vallons           1
                              ..
Déchèterie du cannet           1
Avenue de la roubine           1
Chemin du refuge               1
1 rue de lerins                1
Chemin bastide rouge           1
Name: adresse, Length: 61, dtype: int64

Ces collecteurs sont plus nombreux à Cannes et à Mougins

In [75]:
dataVetement.code_insee.value_counts()

6029.0    29
6085.0    16
6079.0     7
6030.0     6
6138.0     1
Name: code_insee, dtype: int64

1 commentaire est indiqué

In [76]:
dataVetement[dataVetement.observations.notna()]

,objectid,id,quantite,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
45,6804,NaN,1,NaN,615 avenue Maurice donat,NaN,6085.0,École mougins school,chpayet,20200514084244,chpayet,20200514084244,{456AA2A8-920C-4712-88F7-0E116FF993C5},NaN,7.01446,43.612484

1 collecteur a le champ etat spécifié et 1 autre son id précisé

In [77]:
dataVetement[dataVetement.etat.notna()]

,objectid,id,quantite,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
28,10404,NaN,1,NaN,Avenue du riou,NaN,6079.0,NaN,chpayet,20200817093326,chpayet,20200817093326,{67D0FB35-5EE5-42A9-A4C9-4ECA1E0447A8},Existant,6.942036,43.528263

In [78]:
dataVetement[dataVetement.id.notna()]

,objectid,id,quantite,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
0,401,Kfb,1,NaN,Jb pastor,NaN,6138.0,NaN,chpayet,20191204094617,chpayet,20191204094617,{2525224C-A21B-44BB-9899-4F6EEC9F5A16},NaN,6.938207,43.504417

# Base de données cliiink
![cliiink.png](../../bdd/cliiink.png)

# Nettoyage des jeux de données

## Ajout des codes INSEE manquants

In [79]:
dataOM.loc[[253]]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
253,9633,NaN,Bac aérien sans cache bac,660 L,1,Contenur,NaN,22 Corniche paradis,NaN,NaN,NaN,chpayet,20200507091717,chpayet,20200507091717,{33D295CF-CBD3-4049-83A8-02E0BDAB0078},NaN,7.035603,43.564667

In [80]:
dataOM.loc[253, 'code_insee'] = 6029.0

In [81]:
dataOM.loc[[253]]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
253,9633,NaN,Bac aérien sans cache bac,660 L,1,Contenur,NaN,22 Corniche paradis,NaN,6029.0,NaN,chpayet,20200507091717,chpayet,20200507091717,{33D295CF-CBD3-4049-83A8-02E0BDAB0078},NaN,7.035603,43.564667

In [82]:
dataTri.loc[[41]]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
41,1619,NaN,Colonne aérienne,5 m3,2,,NaN,Avenue de la côte d azur,A côté du snack,NaN,NaN,NaN,chpayet,20191206104325,chpayet,20191206104325,{4CFBB363-B51A-47F8-9DA6-4B71D642A26E},NaN,6.945003,43.493664

In [83]:
dataTri.loc[41, 'code_insee'] = 6138.0

In [84]:
dataTri.loc[[41]]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
41,1619,NaN,Colonne aérienne,5 m3,2,,NaN,Avenue de la côte d azur,A côté du snack,6138.0,NaN,NaN,chpayet,20191206104325,chpayet,20191206104325,{4CFBB363-B51A-47F8-9DA6-4B71D642A26E},NaN,6.945003,43.493664

In [85]:
dataVetement.loc[[19]]

,objectid,id,quantite,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
19,3604,NaN,1,NaN,Avenue Maurice chevalier,Face palais des victoires,NaN,NaN,chpayet,20200213125458,chpayet,20200213125458,{20AC6A52-5E3F-4640-9D2F-10E0935BE33E},NaN,6.961508,43.551456

In [86]:
dataVetement.loc[[46]]

,objectid,id,quantite,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
46,9604,NaN,1,NaN,Déchèterie du cannet,Traverse de l aubarede,NaN,NaN,chpayet,20200723092443,chpayet,20200723092443,{8A619D9D-52FF-453B-A1E1-043DE80F5DA0},NaN,6.984168,43.567005

In [87]:
dataVetement.loc[19, 'code_insee'] = 6029.0
dataVetement.loc[46, 'code_insee'] = 6030.0

In [88]:
dataVetement.loc[[19]]

,objectid,id,quantite,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
19,3604,NaN,1,NaN,Avenue Maurice chevalier,Face palais des victoires,6029.0,NaN,chpayet,20200213125458,chpayet,20200213125458,{20AC6A52-5E3F-4640-9D2F-10E0935BE33E},NaN,6.961508,43.551456

In [89]:
dataVetement.loc[[46]]

,objectid,id,quantite,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
46,9604,NaN,1,NaN,Déchèterie du cannet,Traverse de l aubarede,6030.0,NaN,chpayet,20200723092443,chpayet,20200723092443,{8A619D9D-52FF-453B-A1E1-043DE80F5DA0},NaN,6.984168,43.567005

## Ajout des volumes manquants ou rectification des volumes dans un mauvais format
Les volumes sont estimés par comparaison de photographies

In [90]:
# Format non désiré pour des fins statistiques et converti
dataOM[dataOM.volume == "< 240 L"]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
24,2415,NaN,Bac aérien avec cache bac,< 240 L,1,,NaN,16 avenue du trayas,NaN,6138.0,NaN,chpayet,20191206094909,chpayet,20191206094909,{26C0D5E8-5A31-4B7E-B802-F1CDFBCF5270},NaN,6.929922,43.484051

In [91]:
# Valeur estimée par comparaison de sa photographie (ATT1214_Photo1.jpg obtenue par recoupage avec son GUID {26C0D5E8-5A31-4B7E-B802-F1CDFBCF5270}) avec les autres photographies
dataOM.loc[24, "volume"] = "120 L"

In [92]:
dataOM.loc[[24]]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
24,2415,NaN,Bac aérien avec cache bac,120 L,1,,NaN,16 avenue du trayas,NaN,6138.0,NaN,chpayet,20191206094909,chpayet,20191206094909,{26C0D5E8-5A31-4B7E-B802-F1CDFBCF5270},NaN,6.929922,43.484051

In [93]:
dataOM[dataOM.volume == " "]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
108,5619,NaN,PAV cuve enterrée,,1,Contenur,NaN,2 avenue isola bella,NaN,6029.0,NaN,chpayet,20200205091249,chpayet,20200205091249,{F761890A-0194-4B2A-833D-60D6F61CEA5B},NaN,7.024379,43.555840
232,8421,NaN,PAV cuve enterrée,,2,,NaN,Rue Amador lopez,NaN,6029.0,NaN,chpayet,20200417075039,chpayet,20200417075039,{98218ED9-38E5-4525-89A3-77BCBB533F9C},NaN,6.963249,43.556019
242,8425,NaN,PAV enterré ascenseur,,1,Ecollect,NaN,146 avenue Michel jourdan,NaN,6029.0,NaN,chpayet,20200417082139,chpayet,20200417082139,{D8F695AF-59DF-4EB7-AE63-7F0856CA882B},NaN,6.968542,43.558376
336,16049,NaN,PAV cuve enterrée,,1,Contenur,NaN,Avenue pierre semard,NaN,6029.0,NaN,chpayet,20200819085514,chpayet,20200819085514,{0556B869-083B-40CD-9576-36BC6DC523E0},NaN,6.977401,43.548309

In [94]:
dataOM.loc[108, "volume"] = "3 m3" #ATT4417_Photo1
dataOM.loc[232, "volume"] = "3 m3" #ATT7220_Photo1
dataOM.loc[242, "volume"] = "3 m3" #ATT7224_Photo1 comparé à ATT5227_Photo1
dataOM.loc[336, "volume"] = "3 m3" #ATT14448_Photo1 comparé à ATT6428_Photo1

In [95]:
dataPapier[dataPapier.volume == " "]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
0,1601,NaN,,,1,,NaN,2 chemin des vallons,NaN,6030,NaN,NaN,chpayet,20200417085022,chpayet,20200417085022,{46B94A69-E019-43D8-9E84-AAE5DA6284C2},NaN,6.972623,43.568790
1,1202,NaN,,,1,,NaN,10 boulevard d olivetum,NaN,6030,NaN,NaN,chpayet,20200310084750,chpayet,20200310084750,{2A62403F-3C88-40AA-9C22-FE89A984671F},NaN,7.025239,43.570610
2,403,NaN,,,1,,NaN,Boulevard Jacques monod,Parking des fades,6030,NaN,NaN,chpayet,20200213101117,chpayet,20200213101117,{A90515AF-4E89-4DB0-8F45-3B0604FBCFFD},NaN,6.996956,43.574852
3,1602,NaN,,,1,,NaN,Cimetiere du claus,NaN,6030,NaN,NaN,chpayet,20200417085630,chpayet,20200417085630,{7A3EE5C6-AA02-4B6E-99F3-2906EA5D56E6},NaN,6.986457,43.574566
4,1606,NaN,,,1,,NaN,Avenue Georges Pompidou,NaN,6030,NaN,NaN,chpayet,20200417104710,chpayet,20200417104710,{C5ABBCFE-6778-4674-8888-5918E2BD6898},NaN,6.981803,43.568787
5,1205,NaN,,,1,,NaN,7 chemin de l aubarede,NaN,6030,NaN,NaN,chpayet,20200310100220,chpayet,20200310100220,{0A6616FF-EE2F-4512-ADA2-023B7FF4255A},NaN,6.984120,43.573116
7,4002,NaN,,,1,,NaN,Rue Marcel pagnol,NaN,6030,NaN,NaN,chpayet,20200723083331,chpayet,20200723083331,{00153039-CB46-4664-A251-D2E3381B822E},NaN,6.988643,43.573776
8,4003,NaN,,,1,,NaN,Rue cite des jardins,NaN,6030,NaN,NaN,chpayet,20200723084148,chpayet,20200723084148,{42EEB3C0-EF20-4ADF-B995-15B97DBE0068},NaN,6.998000,43.576679

In [96]:
dataPapier.loc[0, "volume"] = "3 m3" #ATT1601_Photo1
dataPapier.loc[1, "volume"] = "3 m3" #ATT1202_Photo1
dataPapier.loc[2, "volume"] = "3 m3" #ATT403_Photo1
dataPapier.loc[3, "volume"] = "3 m3" #ATT1602_Photo1
dataPapier.loc[4, "volume"] = "3 m3" #ATT1606_Photo1
dataPapier.loc[5, "volume"] = "4 m3" #ATT1204_Photo1 (attention à la relation avec le GUID)
dataPapier.loc[7, "volume"] = "4 m3" #ATT4002_Photo1
dataPapier.loc[8, "volume"] = "3 m3" #ATT4003._Photo1

In [97]:
dataTri[dataTri.volume == " "]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
3,1205,6601901971,Bac aérien sans cache bac,,1,Contenur,NaN,Avenue de lerins angle traverse magasin souvenir,NaN,6138.0,NaN,NaN,chpayet,20191204085827,chpayet,20191204085827,{4A1D509F-70AF-476A-9436-9A0BDC2B9903},NaN,6.940569,43.507717
11,1601,6601902149,Bac aérien sans cache bac,,1,Contenur,NaN,Rue du sanglier,NaN,6138.0,NaN,NaN,chpayet,20191206083601,chpayet,20191206083601,{18A21742-B694-419A-B1E5-878C3468DB18},NaN,6.940382,43.505402
28,1606,NaN,Colonne aérienne,,1,Plastic Omnium,NaN,37 avenue miramar,NaN,6138.0,NaN,NaN,chpayet,20191206090811,chpayet,20191206090811,{61E9863A-23C4-4EA2-A353-BB3876F9A790},NaN,6.941048,43.486649
80,3210,NaN,Colonne aérienne,,1,Plastic Omnium,NaN,Rue Yves brayer,NaN,6079.0,NaN,NaN,chpayet,20200109140102,chpayet,20200109140241,{EBDD8B98-DEA4-4CB0-97B6-94FA1AC06134},NaN,6.919230,43.524628

In [98]:
dataTri.loc[3, "volume"] = "660 L" #ATT5_Photo
dataTri.loc[11, "volume"] = "660 L" #ATT401_Photo1
dataTri.loc[28, "volume"] = "3 m3" #ATT406_Photo1
dataTri.loc[80, "volume"] = "3 m3" #ATT2010_Photo1

In [99]:
dataVerre[dataVerre.volume == " "]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
32,3610,NaN,PAV cuve enterrée,,1,,NaN,Allées de la liberte,NaN,6029,NaN,NaN,chpayet,20200205102900,chpayet,20200205102900,{8E40D486-52F3-4348-A69E-05EEEB7A5D66},NaN,7.01616,43.551823

In [100]:
dataVerre.loc[32, "volume"] = "4 m3"

## Ajout des types si possible
Les types sont devinés par comparaison de photographies

In [101]:
dataPapier[dataPapier.type == " "]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
0,1601,NaN,,3 m3,1,,NaN,2 chemin des vallons,NaN,6030,NaN,NaN,chpayet,20200417085022,chpayet,20200417085022,{46B94A69-E019-43D8-9E84-AAE5DA6284C2},NaN,6.972623,43.568790
1,1202,NaN,,3 m3,1,,NaN,10 boulevard d olivetum,NaN,6030,NaN,NaN,chpayet,20200310084750,chpayet,20200310084750,{2A62403F-3C88-40AA-9C22-FE89A984671F},NaN,7.025239,43.570610
2,403,NaN,,3 m3,1,,NaN,Boulevard Jacques monod,Parking des fades,6030,NaN,NaN,chpayet,20200213101117,chpayet,20200213101117,{A90515AF-4E89-4DB0-8F45-3B0604FBCFFD},NaN,6.996956,43.574852
3,1602,NaN,,3 m3,1,,NaN,Cimetiere du claus,NaN,6030,NaN,NaN,chpayet,20200417085630,chpayet,20200417085630,{7A3EE5C6-AA02-4B6E-99F3-2906EA5D56E6},NaN,6.986457,43.574566
4,1606,NaN,,3 m3,1,,NaN,Avenue Georges Pompidou,NaN,6030,NaN,NaN,chpayet,20200417104710,chpayet,20200417104710,{C5ABBCFE-6778-4674-8888-5918E2BD6898},NaN,6.981803,43.568787
5,1205,NaN,,4 m3,1,,NaN,7 chemin de l aubarede,NaN,6030,NaN,NaN,chpayet,20200310100220,chpayet,20200310100220,{0A6616FF-EE2F-4512-ADA2-023B7FF4255A},NaN,6.984120,43.573116
7,4002,NaN,,4 m3,1,,NaN,Rue Marcel pagnol,NaN,6030,NaN,NaN,chpayet,20200723083331,chpayet,20200723083331,{00153039-CB46-4664-A251-D2E3381B822E},NaN,6.988643,43.573776
8,4003,NaN,,3 m3,1,,NaN,Rue cite des jardins,NaN,6030,NaN,NaN,chpayet,20200723084148,chpayet,20200723084148,{42EEB3C0-EF20-4ADF-B995-15B97DBE0068},NaN,6.998000,43.576679

In [102]:
dataPapier.loc[0, "type"] = "PAV cuve enterrée" #ATT1601_Photo1
dataPapier.loc[1, "type"] = "PAV cuve enterrée" #ATT1202_Photo1
dataPapier.loc[2, "type"] = "PAV cuve enterrée" #ATT403_Photo1
dataPapier.loc[3, "type"] = "PAV cuve enterrée" #ATT1602_Photo1
dataPapier.loc[4, "type"] = "PAV cuve enterrée" #ATT1606_Photo1
dataPapier.loc[5, "type"] = "PAV cuve enterrée" #ATT1204_Photo1 (attention à la relation avec le GUID)
dataPapier.loc[7, "type"] = "PAV cuve enterrée" #ATT4002_Photo1
dataPapier.loc[8, "type"] = "PAV cuve enterrée" #ATT4003._Photo1

In [103]:
dataVerre[dataVerre.type == " "]

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
46,4411,NaN,,2 m3,1,,NaN,12 bd du moulin,NaN,6029,Cliiink,NaN,chpayet,20200210101206,chpayet,20200210101206,{C2FC8587-14E1-47FE-9B67-49DA2D16409D},NaN,7.007102,43.554081

In [104]:
dataVerre.loc[46, "type"] = "Colonne aérienne" #ATT3209_Photo1

# Mise en forme des données
## Conversions de types

In [105]:
dataframes = [dataDecheterie, dataOM, dataPapier, dataTri, dataVerre, dataVetement]

### Volume

In [106]:
# Exemple avant conversion
dataTri

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
0,1202,6601902190,Bac aérien sans cache bac,660 L,1,,NaN,Gare tsm,NaN,6138.0,NaN,NaN,chpayet,20191204083647,chpayet,20191204083647,{0BF5EDFF-B6EC-4A9B-9A85-D5C43F338FFF},NaN,6.936994,43.513302
1,1203,6601902012,Bac aérien sans cache bac,660 L,1,Contenur,NaN,Prince des iles,NaN,6138.0,NaN,NaN,chpayet,20191204084515,chpayet,20191204084515,{CBC5605B-2FC8-4F3F-BC2D-FF846415E9D7},NaN,6.937348,43.509136
2,1204,6601901994,Bac aérien sans cache bac,660 L,1,Contenur,NaN,Eglise trottoir château avenue de lerins,NaN,6138.0,NaN,NaN,chpayet,20191204085152,chpayet,20191204085152,{EA97EB92-2BC7-4B8C-93A4-3DD0C6860CD5},NaN,6.938404,43.508076
3,1205,6601901971,Bac aérien sans cache bac,660 L,1,Contenur,NaN,Avenue de lerins angle traverse magasin souvenir,NaN,6138.0,NaN,NaN,chpayet,20191204085827,chpayet,20191204085827,{4A1D509F-70AF-476A-9436-9A0BDC2B9903},NaN,6.940569,43.507717
4,1206,6601902153,Bac aérien sans cache bac,660 L,1,Contenur,NaN,Avenue montrer résidence aquarella,NaN,6138.0,NaN,NaN,chpayet,20191204090411,chpayet,20191204090411,{6F6BE0FD-DB47-4034-8D38-2193ABE495AA},NaN,6.940699,43.507584
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,15635,NaN,PAV enterré ascenseur,4 m3,1,Ecollect,NaN,Square merimee,NaN,6029.0,NaN,NaN,chpayet,20200826132642,chpayet,20200826132655,{E0AC43B9-DC26-46C0-A57D-C27B2A97EF8B},NaN,7.017516,43.551659
235,16030,NaN,Bac aérien sans cache bac,660 L,1,,NaN,Impasse du tambourin,NaN,6079.0,NaN,NaN,chpayet,20200827084730,chpayet,20200827084730,{361B4F57-A0B2-4004-BA17-8810375B931E},NaN,6.931079,43.565300
236,16031,NaN,Bac aérien sans cache bac,660 L,1,,NaN,Chemin des fougères,NaN,6079.0,NaN,NaN,chpayet,20200827090002,chpayet,20200827090002,{42370979-1A59-4304-96DF-4A100A63E1E9},NaN,6.930059,43.558243
237,16032,NaN,Bac aérien avec cache bac,660 L,1,Contenur,NaN,Chemin des grottes,NaN,6079.0,NaN,NaN,chpayet,20200827090453,chpayet,20200827090453,{D8692726-2F7D-44C5-BEA8-1BFCE4509136},NaN,6.930284,43.556812
238,16033,NaN,Bac aérien sans cache bac,340 L,1,Contenur,NaN,Rue notre dame des anges,NaN,6030.0,NaN,NaN,chpayet,20200827120845,chpayet,20200827120845,{550F82CB-242E-4D2D-9422-712DE7FCFCB7},NaN,7.013678,43.573719

In [107]:
for df in dataframes[1:5]:
    df.volume = df.volume.str.replace(" L", "").str.replace(" m3", "000").astype(int)

In [108]:
# Exemple après conversion
dataTri

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,accessibilite,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
0,1202,6601902190,Bac aérien sans cache bac,660,1,,NaN,Gare tsm,NaN,6138.0,NaN,NaN,chpayet,20191204083647,chpayet,20191204083647,{0BF5EDFF-B6EC-4A9B-9A85-D5C43F338FFF},NaN,6.936994,43.513302
1,1203,6601902012,Bac aérien sans cache bac,660,1,Contenur,NaN,Prince des iles,NaN,6138.0,NaN,NaN,chpayet,20191204084515,chpayet,20191204084515,{CBC5605B-2FC8-4F3F-BC2D-FF846415E9D7},NaN,6.937348,43.509136
2,1204,6601901994,Bac aérien sans cache bac,660,1,Contenur,NaN,Eglise trottoir château avenue de lerins,NaN,6138.0,NaN,NaN,chpayet,20191204085152,chpayet,20191204085152,{EA97EB92-2BC7-4B8C-93A4-3DD0C6860CD5},NaN,6.938404,43.508076
3,1205,6601901971,Bac aérien sans cache bac,660,1,Contenur,NaN,Avenue de lerins angle traverse magasin souvenir,NaN,6138.0,NaN,NaN,chpayet,20191204085827,chpayet,20191204085827,{4A1D509F-70AF-476A-9436-9A0BDC2B9903},NaN,6.940569,43.507717
4,1206,6601902153,Bac aérien sans cache bac,660,1,Contenur,NaN,Avenue montrer résidence aquarella,NaN,6138.0,NaN,NaN,chpayet,20191204090411,chpayet,20191204090411,{6F6BE0FD-DB47-4034-8D38-2193ABE495AA},NaN,6.940699,43.507584
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,15635,NaN,PAV enterré ascenseur,4000,1,Ecollect,NaN,Square merimee,NaN,6029.0,NaN,NaN,chpayet,20200826132642,chpayet,20200826132655,{E0AC43B9-DC26-46C0-A57D-C27B2A97EF8B},NaN,7.017516,43.551659
235,16030,NaN,Bac aérien sans cache bac,660,1,,NaN,Impasse du tambourin,NaN,6079.0,NaN,NaN,chpayet,20200827084730,chpayet,20200827084730,{361B4F57-A0B2-4004-BA17-8810375B931E},NaN,6.931079,43.565300
236,16031,NaN,Bac aérien sans cache bac,660,1,,NaN,Chemin des fougères,NaN,6079.0,NaN,NaN,chpayet,20200827090002,chpayet,20200827090002,{42370979-1A59-4304-96DF-4A100A63E1E9},NaN,6.930059,43.558243
237,16032,NaN,Bac aérien avec cache bac,660,1,Contenur,NaN,Chemin des grottes,NaN,6079.0,NaN,NaN,chpayet,20200827090453,chpayet,20200827090453,{D8692726-2F7D-44C5-BEA8-1BFCE4509136},NaN,6.930284,43.556812
238,16033,NaN,Bac aérien sans cache bac,340,1,Contenur,NaN,Rue notre dame des anges,NaN,6030.0,NaN,NaN,chpayet,20200827120845,chpayet,20200827120845,{550F82CB-242E-4D2D-9422-712DE7FCFCB7},NaN,7.013678,43.573719

### Code INSEE

In [109]:
# Exemple avant conversion
dataOM

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
0,2002,NaN,Bac aérien avec cache bac,660,1,Plastic Omnium,NaN,Gare tsm,NaN,6138.0,NaN,chpayet,20191204083917,chpayet,20191204083917,{5C455C7F-2CAF-4B57-8B69-686691E7ACAA},NaN,6.937009,43.513302
1,3202,NaN,Bac aérien avec cache bac,660,3,Plastic Omnium,NaN,Résidence les terrasses de saint honorat,NaN,6138.0,NaN,chpayet,20200102131948,chpayet,20200102131948,{449AE0D0-B256-49C2-84F7-87F4248CA3CC},NaN,6.941518,43.490540
2,2003,NaN,Bac aérien sans cache bac,660,1,Plastic Omnium,NaN,Prince des iles,NaN,6138.0,NaN,chpayet,20191204084630,chpayet,20191204084630,{FED2233C-9710-40F1-ACF4-58134F0BB9FE},NaN,6.937398,43.509171
3,2004,NaN,Bac aérien sans cache bac,660,1,Plastic Omnium,NaN,Avenue de lerins trottoir de l eglise,NaN,6138.0,NaN,chpayet,20191204085306,chpayet,20191204085306,{058DC0AE-423C-4FEB-8D30-D4C113428CD8},NaN,6.938353,43.508087
4,2005,NaN,Bac aérien sans cache bac,660,1,Plastic Omnium,NaN,Avenue de lerins angle traverse magasin souvenirs,NaN,6138.0,NaN,chpayet,20191204090036,chpayet,20191204090036,{53D62EB0-B046-4D5D-B636-94646AC984AA},NaN,6.940556,43.507687
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,18050,NaN,Bac aérien sans cache bac,660,1,Contenur,NaN,Chemin des fougeres,NaN,6079.0,NaN,chpayet,20200827085918,chpayet,20200827085918,{3AF1895B-8999-4CC2-8610-A0CB916F3A68},NaN,6.930053,43.558224
382,18051,NaN,Bac aérien avec cache bac,660,2,Contenur,NaN,Chemin des grottes,NaN,6079.0,NaN,chpayet,20200827090415,chpayet,20200827090415,{02507DBC-6164-4E65-9FEB-376D97108ACD},NaN,6.930284,43.556831
383,18052,NaN,Bac aérien sans cache bac,340,3,Plastic Omnium,NaN,Impasse turgot,NaN,6030.0,NaN,chpayet,20200827115300,chpayet,20200827115300,{AE9C15F9-4DD6-43FE-8A5A-441B9E5E2A0E},NaN,7.023561,43.576286
384,18053,NaN,Bac aérien sans cache bac,340,1,Contenur,NaN,Rue notre dame des anges,NaN,6030.0,NaN,chpayet,20200827121026,chpayet,20200827121026,{882FA65E-7566-40F7-B7C8-FC8355EEBDC2},NaN,7.013729,43.573708
385,18054,NaN,Bac aérien sans cache bac,660,1,Contenur,NaN,20 boulevard de lorraine,NaN,6029.0,NaN,chpayet,20200827123332,chpayet,20200827123332,{EC02F473-95AE-4729-BF0C-DFB9923202DB},NaN,7.026821,43.553452

In [110]:
# Par défaut, le dataframe convertira le type d'une colonne en float même s'il n'y a que des int si des valeurs son manquantes (pas de NaN en int),
# d'où la nécessité de filtrer en ne gardant que les chiffres avant la virgule
# ce qui est le cas pour le code INSEE de certains jeux de données
dataDecheterie.code_insee = "0" + dataDecheterie.code_insee.astype(str)
dataOM.code_insee = "0" + dataOM.code_insee.astype(str).str[0:4]
dataPapier.code_insee = "0" + dataPapier.code_insee.astype(str)
dataTri.code_insee = "0" + dataTri.code_insee.astype(str).str[0:4]
dataVerre.code_insee = "0" + dataVerre.code_insee.astype(str)
dataVetement.code_insee = "0" + dataVetement.code_insee.astype(str).str[0:4]

In [111]:
# Exemple après conversion
dataOM

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
0,2002,NaN,Bac aérien avec cache bac,660,1,Plastic Omnium,NaN,Gare tsm,NaN,06138,NaN,chpayet,20191204083917,chpayet,20191204083917,{5C455C7F-2CAF-4B57-8B69-686691E7ACAA},NaN,6.937009,43.513302
1,3202,NaN,Bac aérien avec cache bac,660,3,Plastic Omnium,NaN,Résidence les terrasses de saint honorat,NaN,06138,NaN,chpayet,20200102131948,chpayet,20200102131948,{449AE0D0-B256-49C2-84F7-87F4248CA3CC},NaN,6.941518,43.490540
2,2003,NaN,Bac aérien sans cache bac,660,1,Plastic Omnium,NaN,Prince des iles,NaN,06138,NaN,chpayet,20191204084630,chpayet,20191204084630,{FED2233C-9710-40F1-ACF4-58134F0BB9FE},NaN,6.937398,43.509171
3,2004,NaN,Bac aérien sans cache bac,660,1,Plastic Omnium,NaN,Avenue de lerins trottoir de l eglise,NaN,06138,NaN,chpayet,20191204085306,chpayet,20191204085306,{058DC0AE-423C-4FEB-8D30-D4C113428CD8},NaN,6.938353,43.508087
4,2005,NaN,Bac aérien sans cache bac,660,1,Plastic Omnium,NaN,Avenue de lerins angle traverse magasin souvenirs,NaN,06138,NaN,chpayet,20191204090036,chpayet,20191204090036,{53D62EB0-B046-4D5D-B636-94646AC984AA},NaN,6.940556,43.507687
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,18050,NaN,Bac aérien sans cache bac,660,1,Contenur,NaN,Chemin des fougeres,NaN,06079,NaN,chpayet,20200827085918,chpayet,20200827085918,{3AF1895B-8999-4CC2-8610-A0CB916F3A68},NaN,6.930053,43.558224
382,18051,NaN,Bac aérien avec cache bac,660,2,Contenur,NaN,Chemin des grottes,NaN,06079,NaN,chpayet,20200827090415,chpayet,20200827090415,{02507DBC-6164-4E65-9FEB-376D97108ACD},NaN,6.930284,43.556831
383,18052,NaN,Bac aérien sans cache bac,340,3,Plastic Omnium,NaN,Impasse turgot,NaN,06030,NaN,chpayet,20200827115300,chpayet,20200827115300,{AE9C15F9-4DD6-43FE-8A5A-441B9E5E2A0E},NaN,7.023561,43.576286
384,18053,NaN,Bac aérien sans cache bac,340,1,Contenur,NaN,Rue notre dame des anges,NaN,06030,NaN,chpayet,20200827121026,chpayet,20200827121026,{882FA65E-7566-40F7-B7C8-FC8355EEBDC2},NaN,7.013729,43.573708
385,18054,NaN,Bac aérien sans cache bac,660,1,Contenur,NaN,20 boulevard de lorraine,NaN,06029,NaN,chpayet,20200827123332,chpayet,20200827123332,{EC02F473-95AE-4729-BF0C-DFB9923202DB},NaN,7.026821,43.553452

### Dates création et modification

In [112]:
# Exemple avant conversion
dataOM

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
0,2002,NaN,Bac aérien avec cache bac,660,1,Plastic Omnium,NaN,Gare tsm,NaN,06138,NaN,chpayet,20191204083917,chpayet,20191204083917,{5C455C7F-2CAF-4B57-8B69-686691E7ACAA},NaN,6.937009,43.513302
1,3202,NaN,Bac aérien avec cache bac,660,3,Plastic Omnium,NaN,Résidence les terrasses de saint honorat,NaN,06138,NaN,chpayet,20200102131948,chpayet,20200102131948,{449AE0D0-B256-49C2-84F7-87F4248CA3CC},NaN,6.941518,43.490540
2,2003,NaN,Bac aérien sans cache bac,660,1,Plastic Omnium,NaN,Prince des iles,NaN,06138,NaN,chpayet,20191204084630,chpayet,20191204084630,{FED2233C-9710-40F1-ACF4-58134F0BB9FE},NaN,6.937398,43.509171
3,2004,NaN,Bac aérien sans cache bac,660,1,Plastic Omnium,NaN,Avenue de lerins trottoir de l eglise,NaN,06138,NaN,chpayet,20191204085306,chpayet,20191204085306,{058DC0AE-423C-4FEB-8D30-D4C113428CD8},NaN,6.938353,43.508087
4,2005,NaN,Bac aérien sans cache bac,660,1,Plastic Omnium,NaN,Avenue de lerins angle traverse magasin souvenirs,NaN,06138,NaN,chpayet,20191204090036,chpayet,20191204090036,{53D62EB0-B046-4D5D-B636-94646AC984AA},NaN,6.940556,43.507687
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,18050,NaN,Bac aérien sans cache bac,660,1,Contenur,NaN,Chemin des fougeres,NaN,06079,NaN,chpayet,20200827085918,chpayet,20200827085918,{3AF1895B-8999-4CC2-8610-A0CB916F3A68},NaN,6.930053,43.558224
382,18051,NaN,Bac aérien avec cache bac,660,2,Contenur,NaN,Chemin des grottes,NaN,06079,NaN,chpayet,20200827090415,chpayet,20200827090415,{02507DBC-6164-4E65-9FEB-376D97108ACD},NaN,6.930284,43.556831
383,18052,NaN,Bac aérien sans cache bac,340,3,Plastic Omnium,NaN,Impasse turgot,NaN,06030,NaN,chpayet,20200827115300,chpayet,20200827115300,{AE9C15F9-4DD6-43FE-8A5A-441B9E5E2A0E},NaN,7.023561,43.576286
384,18053,NaN,Bac aérien sans cache bac,340,1,Contenur,NaN,Rue notre dame des anges,NaN,06030,NaN,chpayet,20200827121026,chpayet,20200827121026,{882FA65E-7566-40F7-B7C8-FC8355EEBDC2},NaN,7.013729,43.573708
385,18054,NaN,Bac aérien sans cache bac,660,1,Contenur,NaN,20 boulevard de lorraine,NaN,06029,NaN,chpayet,20200827123332,chpayet,20200827123332,{EC02F473-95AE-4729-BF0C-DFB9923202DB},NaN,7.026821,43.553452

In [113]:
formatDate = "%Y%m%d%H%M%S"
for df in dataframes:
    df.date_creation = pd.to_datetime(df.date_creation, format=formatDate)
    df.date_modification = pd.to_datetime(df.date_modification, format=formatDate)

In [114]:
# Exemple après conversion
dataOM

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,etat,_x,_y
0,2002,NaN,Bac aérien avec cache bac,660,1,Plastic Omnium,NaN,Gare tsm,NaN,06138,NaN,chpayet,2019-12-04 08:39:17,chpayet,2019-12-04 08:39:17,{5C455C7F-2CAF-4B57-8B69-686691E7ACAA},NaN,6.937009,43.513302
1,3202,NaN,Bac aérien avec cache bac,660,3,Plastic Omnium,NaN,Résidence les terrasses de saint honorat,NaN,06138,NaN,chpayet,2020-01-02 13:19:48,chpayet,2020-01-02 13:19:48,{449AE0D0-B256-49C2-84F7-87F4248CA3CC},NaN,6.941518,43.490540
2,2003,NaN,Bac aérien sans cache bac,660,1,Plastic Omnium,NaN,Prince des iles,NaN,06138,NaN,chpayet,2019-12-04 08:46:30,chpayet,2019-12-04 08:46:30,{FED2233C-9710-40F1-ACF4-58134F0BB9FE},NaN,6.937398,43.509171
3,2004,NaN,Bac aérien sans cache bac,660,1,Plastic Omnium,NaN,Avenue de lerins trottoir de l eglise,NaN,06138,NaN,chpayet,2019-12-04 08:53:06,chpayet,2019-12-04 08:53:06,{058DC0AE-423C-4FEB-8D30-D4C113428CD8},NaN,6.938353,43.508087
4,2005,NaN,Bac aérien sans cache bac,660,1,Plastic Omnium,NaN,Avenue de lerins angle traverse magasin souvenirs,NaN,06138,NaN,chpayet,2019-12-04 09:00:36,chpayet,2019-12-04 09:00:36,{53D62EB0-B046-4D5D-B636-94646AC984AA},NaN,6.940556,43.507687
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,18050,NaN,Bac aérien sans cache bac,660,1,Contenur,NaN,Chemin des fougeres,NaN,06079,NaN,chpayet,2020-08-27 08:59:18,chpayet,2020-08-27 08:59:18,{3AF1895B-8999-4CC2-8610-A0CB916F3A68},NaN,6.930053,43.558224
382,18051,NaN,Bac aérien avec cache bac,660,2,Contenur,NaN,Chemin des grottes,NaN,06079,NaN,chpayet,2020-08-27 09:04:15,chpayet,2020-08-27 09:04:15,{02507DBC-6164-4E65-9FEB-376D97108ACD},NaN,6.930284,43.556831
383,18052,NaN,Bac aérien sans cache bac,340,3,Plastic Omnium,NaN,Impasse turgot,NaN,06030,NaN,chpayet,2020-08-27 11:53:00,chpayet,2020-08-27 11:53:00,{AE9C15F9-4DD6-43FE-8A5A-441B9E5E2A0E},NaN,7.023561,43.576286
384,18053,NaN,Bac aérien sans cache bac,340,1,Contenur,NaN,Rue notre dame des anges,NaN,06030,NaN,chpayet,2020-08-27 12:10:26,chpayet,2020-08-27 12:10:26,{882FA65E-7566-40F7-B7C8-FC8355EEBDC2},NaN,7.013729,43.573708
385,18054,NaN,Bac aérien sans cache bac,660,1,Contenur,NaN,20 boulevard de lorraine,NaN,06029,NaN,chpayet,2020-08-27 12:33:32,chpayet,2020-08-27 12:33:32,{EC02F473-95AE-4729-BF0C-DFB9923202DB},NaN,7.026821,43.553452

### Accessibilite et Etat retirés

In [115]:
# Faire drop(..., inplace=True) et non data = data.drop(...) pour que les modifications soient répercutées sur dataframes 
# (sinon dataframes reste la copie des dataframes avant suppression)
dataOM.drop(columns="etat", inplace=True)
dataPapier.drop(columns=["accessibilite", "etat"], inplace=True)
dataTri.drop(columns=["accessibilite", "etat"], inplace=True)
dataVerre.drop(columns=["accessibilite", "etat"], inplace=True)
dataVetement.drop(columns="etat", inplace=True)

## Création des DataFrames

### Dataframes Decheterie, Dechet et Traitement

In [116]:
dictDechets = {
    "type": ["végétation", "bois", "métal", "gravats propres", "gravat sale", "carton", "d3e", "déchet ménager spécial", "néon", "batterie", "pile", "gaz", "extincteur", "huile végétale ou minérale"],
    "typeAbrege": ["veget", "bois", "metal", "grav_prop", "grav_sal", "carton", "d3e", "dech_men_spe", "neon", "batterie", "pile", "gaz", "extincteur", "huil_veget_mineral"]
}

dechet = pd.DataFrame(dictDechets, columns = ["id", "type"])
dechet["id"] = dechet.index + 1 # PK en auto-increment commence à 1
dechet

    id                        type
0    1                  végétation
1    2                        bois
2    3                       métal
3    4             gravats propres
4    5                 gravat sale
5    6                      carton
6    7                         d3e
7    8      déchet ménager spécial
8    9                        néon
9   10                    batterie
10  11                        pile
11  12                         gaz
12  13                  extincteur
13  14  huile végétale ou minérale

In [117]:
traitement = pd.DataFrame(columns = ['objectidDecheterie','idDechet'])
for i in dataDecheterie.index:
    for j, col in enumerate(dictDechets["typeAbrege"]):
        if dataDecheterie.loc[i, col] == "Oui":
            df = pd.DataFrame({'objectidDecheterie': dataDecheterie.loc[i, "objectid"],'idDechet': j+1}, index=[0])
            traitement = traitement.append(df, ignore_index = True)
traitement

   objectidDecheterie idDechet
0                 801        1
1                 801        2
2                 801        3
3                 801        4
4                 801        5
5                 801        6
6                 801        7
7                 801        8
8                 801        9
9                 801       10
10                801       11
11                801       12
12                801       13
13                801       14
14               1201        1
15               1201        2
16               1201        3
17               1201        4
18               1201        6
19               1201        7
20               1201        9
21               1201       10
22               1201       11
23               1201       12
24               1201       13
25               1201       14
26               1601        1
27               1601        2
28               1601        3
29               1601        4
30               1601        5
31               1601        6
32               1601        7
33               1601        8
34               1601        9
35               1601       10
36               1601       11
37               1601       12
38               1601       13
39               1601       14

In [118]:
# Suppression de toutes les colonnes relevant des types de déchets traités
decheterie = dataDecheterie.drop(columns=dictDechets["typeAbrege"])
decheterie

,objectid,id,adresse,adresse_comp,code_insee,date_instal,observations,creation,date_creation,modification,date_modification,globalid,_x,_y
0,801,NaN,Impasse de l aubarede,NaN,06030,NaN,NaN,chpayet,2020-07-23 13:59:23,chpayet,2020-07-23 13:59:23,{F24B4AF3-17BF-4215-B07F-044AA37EA4E5},6.983613,43.566849
1,1201,NaN,Chemin du coudouron,NaN,06085,NaN,NaN,chpayet,2020-07-27 12:51:41,chpayet,2020-07-27 12:54:59,{26CF70EB-23DD-4399-ACBA-98434B6BFC1A},6.964639,43.581638
2,1601,NaN,Déchèterie des tourades,NaN,06029,NaN,NaN,chpayet,2020-07-31 13:01:59,chpayet,2020-07-31 13:03:32,{83866245-B862-4D22-B436-D5B1A64F5441},6.954320,43.556717

### Dataframes Tri et Collecteur

In [119]:
dictTri = {
    "type": ["om", "papier", "emballage", "verre", "vêtement"],
    "df": dataframes[1:6]
}

tri = pd.DataFrame(dictTri, columns = ["id", "type"])
tri["id"] = tri.index + 1 # PK en auto-increment commence à 1
tri

   id       type
0   1         om
1   2     papier
2   3  emballage
3   4      verre
4   5   vêtement

In [120]:
colonnesCollecteur = dataTri.columns.tolist()
colonnesCollecteur.append("idTri")
collecteur = pd.DataFrame(columns = colonnesCollecteur)

for i, df in enumerate(dictTri["df"]):
    df["idTri"] =  i + 1
    collecteur = collecteur.append(df, ignore_index = True)

collecteur

,objectid,id,type,volume,quantite,marque,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,_x,_y,idTri
0,2002,NaN,Bac aérien avec cache bac,660,1,Plastic Omnium,NaN,Gare tsm,NaN,06138,NaN,chpayet,2019-12-04 08:39:17,chpayet,2019-12-04 08:39:17,{5C455C7F-2CAF-4B57-8B69-686691E7ACAA},6.937009,43.513302,1
1,3202,NaN,Bac aérien avec cache bac,660,3,Plastic Omnium,NaN,Résidence les terrasses de saint honorat,NaN,06138,NaN,chpayet,2020-01-02 13:19:48,chpayet,2020-01-02 13:19:48,{449AE0D0-B256-49C2-84F7-87F4248CA3CC},6.941518,43.490540,1
2,2003,NaN,Bac aérien sans cache bac,660,1,Plastic Omnium,NaN,Prince des iles,NaN,06138,NaN,chpayet,2019-12-04 08:46:30,chpayet,2019-12-04 08:46:30,{FED2233C-9710-40F1-ACF4-58134F0BB9FE},6.937398,43.509171,1
3,2004,NaN,Bac aérien sans cache bac,660,1,Plastic Omnium,NaN,Avenue de lerins trottoir de l eglise,NaN,06138,NaN,chpayet,2019-12-04 08:53:06,chpayet,2019-12-04 08:53:06,{058DC0AE-423C-4FEB-8D30-D4C113428CD8},6.938353,43.508087,1
4,2005,NaN,Bac aérien sans cache bac,660,1,Plastic Omnium,NaN,Avenue de lerins angle traverse magasin souvenirs,NaN,06138,NaN,chpayet,2019-12-04 09:00:36,chpayet,2019-12-04 09:00:36,{53D62EB0-B046-4D5D-B636-94646AC984AA},6.940556,43.507687,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,5203,NaN,NaN,NaN,1,NaN,NaN,1102 avenue du maréchal juin,NaN,06085,NaN,chpayet,2020-04-17 09:11:49,chpayet,2020-07-27 09:34:53,{9CD34D6C-3542-4109-82C2-C02A0340B019},6.993928,43.591373,5
963,10005,NaN,NaN,NaN,1,NaN,NaN,Chemin de la plaine,NaN,06085,NaN,chpayet,2020-07-27 12:18:01,chpayet,2020-07-27 12:18:01,{EF825DB5-6E4C-41FE-98B1-A1D910135369},6.970299,43.602245,5
964,10006,NaN,NaN,NaN,1,NaN,NaN,Chemin du refuge,NaN,06085,NaN,chpayet,2020-07-27 12:35:03,chpayet,2020-07-27 12:35:03,{D84F19EA-875D-4778-B290-F634F6C4514A},6.992376,43.581013,5
965,4803,NaN,NaN,NaN,3,NaN,NaN,Avenue lamartine,NaN,06085,NaN,chpayet,2020-03-10 09:59:22,chpayet,2020-07-27 12:39:49,{EFBAFBA0-0480-4340-B500-F47140DB6A2F},6.984992,43.574394,5
966,10007,NaN,NaN,NaN,1,NaN,NaN,Chemin de coudouron,Déchèterie,06085,NaN,chpayet,2020-07-27 12:59:11,chpayet,2020-07-27 12:59:11,{8708629A-385D-44FF-8DB6-CDD4302B824B},6.964498,43.581551,5

### Dataframes Categorie et Marque (et modification Collecteur)

In [121]:
# Récupération des collecteurs avec des types définis (et ne correspondant pas à " ")
collecteurAvecType = collecteur[(collecteur['type'].notna()) & (collecteur['type'] != " ")][['objectid', 'type']]

categorie = pd.DataFrame(columns = ["id", "type"])
# Insertion de toutes les valeurs différentes de type
categorie["type"] = collecteurAvecType["type"].drop_duplicates()
# Suppression de l'index actuel
categorie.reset_index(drop= True, inplace = True)
# Insertion des id à index + 1 car, côté MySQL, la clé primaire commence à 1 s'il y a auto incrémentation
categorie["id"] = categorie.index + 1

categorie

   id                       type
0   1  Bac aérien avec cache bac
1   2  Bac aérien sans cache bac
2   3          PAV cuve enterrée
3   4      PAV enterré ascenseur
4   5       PAV cuve compactrice
5   6     PAV cuve semi-enterrée
6   7           Colonne aérienne

In [122]:
# Récupération des collecteurs avec des marques définies (et ne correspondant pas à " ")
collecteurAvecMarque = collecteur[(collecteur['marque'].notna()) & (collecteur['marque'] != " ")][['objectid', 'marque']]

marque = pd.DataFrame(columns = ["id", "marque"])
# Insertion de toutes les valeurs différentes de marque
marque["marque"] = collecteurAvecMarque['marque'].drop_duplicates()
# Suppression de l'index actuel
marque.reset_index(drop= True, inplace = True)
# Insertion des id à index + 1 car, côté MySQL, la clé primaire commence à 1 s'il y a auto incrémentation
marque["id"] = marque.index + 1

marque

   id          marque
0   1  Plastic Omnium
1   2        Contenur
2   3           Citec
3   4        Ecollect

In [123]:
# Asssociation entre collecteur et son id de catégorie (suffixes permet de ne pas modifier la colonne id initiale dans collecteur mais seulement celle qu'on rajoute)
collecteur = collecteur.merge(categorie, how="left", on="type", suffixes=(None, "_arenommer"))
# Asssociation entre collecteur et son id de marque
collecteur = collecteur.merge(marque, how="left", on="marque", suffixes=(None, "_arenommer2"))
# Renommage des colonnes nouvellement créées
collecteur.rename(columns={"id_arenommer": "idCategorie", "id_arenommer2": "idMarque"}, inplace=True)
# Suppression des colonnes type et marque maintenant référencées par des clés étrangères
collecteur.drop(columns=["type", "marque"], inplace=True)
collecteur

,objectid,id,volume,quantite,date_instal,adresse,adresse_comp,code_insee,observations,creation,date_creation,modification,date_modification,globalid,_x,_y,idTri,idCategorie,idMarque
0,2002,NaN,660,1,NaN,Gare tsm,NaN,06138,NaN,chpayet,2019-12-04 08:39:17,chpayet,2019-12-04 08:39:17,{5C455C7F-2CAF-4B57-8B69-686691E7ACAA},6.937009,43.513302,1,1.0,1.0
1,3202,NaN,660,3,NaN,Résidence les terrasses de saint honorat,NaN,06138,NaN,chpayet,2020-01-02 13:19:48,chpayet,2020-01-02 13:19:48,{449AE0D0-B256-49C2-84F7-87F4248CA3CC},6.941518,43.490540,1,1.0,1.0
2,2003,NaN,660,1,NaN,Prince des iles,NaN,06138,NaN,chpayet,2019-12-04 08:46:30,chpayet,2019-12-04 08:46:30,{FED2233C-9710-40F1-ACF4-58134F0BB9FE},6.937398,43.509171,1,2.0,1.0
3,2004,NaN,660,1,NaN,Avenue de lerins trottoir de l eglise,NaN,06138,NaN,chpayet,2019-12-04 08:53:06,chpayet,2019-12-04 08:53:06,{058DC0AE-423C-4FEB-8D30-D4C113428CD8},6.938353,43.508087,1,2.0,1.0
4,2005,NaN,660,1,NaN,Avenue de lerins angle traverse magasin souvenirs,NaN,06138,NaN,chpayet,2019-12-04 09:00:36,chpayet,2019-12-04 09:00:36,{53D62EB0-B046-4D5D-B636-94646AC984AA},6.940556,43.507687,1,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,5203,NaN,NaN,1,NaN,1102 avenue du maréchal juin,NaN,06085,NaN,chpayet,2020-04-17 09:11:49,chpayet,2020-07-27 09:34:53,{9CD34D6C-3542-4109-82C2-C02A0340B019},6.993928,43.591373,5,NaN,NaN
963,10005,NaN,NaN,1,NaN,Chemin de la plaine,NaN,06085,NaN,chpayet,2020-07-27 12:18:01,chpayet,2020-07-27 12:18:01,{EF825DB5-6E4C-41FE-98B1-A1D910135369},6.970299,43.602245,5,NaN,NaN
964,10006,NaN,NaN,1,NaN,Chemin du refuge,NaN,06085,NaN,chpayet,2020-07-27 12:35:03,chpayet,2020-07-27 12:35:03,{D84F19EA-875D-4778-B290-F634F6C4514A},6.992376,43.581013,5,NaN,NaN
965,4803,NaN,NaN,3,NaN,Avenue lamartine,NaN,06085,NaN,chpayet,2020-03-10 09:59:22,chpayet,2020-07-27 12:39:49,{EFBAFBA0-0480-4340-B500-F47140DB6A2F},6.984992,43.574394,5,NaN,NaN
966,10007,NaN,NaN,1,NaN,Chemin de coudouron,Déchèterie,06085,NaN,chpayet,2020-07-27 12:59:11,chpayet,2020-07-27 12:59:11,{8708629A-385D-44FF-8DB6-CDD4302B824B},6.964498,43.581551,5,NaN,NaN

# Intégration dans la BDD

## Renommage des colonnes des dataframes pour faire correspondre aux colonnes des tables MySQL

In [124]:
decheterie.rename(columns={"adresse_comp": "adresseComplement", "code_insee": "codeInsee", "date_instal": "dateInstallation", "creation": "createur", "date_creation": "dateCreation", "modification": "modificateur", "date_modification": "dateModification"}, inplace=True)
collecteur.rename(columns={"adresse_comp": "adresseComplement", "code_insee": "codeInsee", "date_instal": "dateInstallation", "creation": "createur", "date_creation": "dateCreation", "modification": "modificateur", "date_modification": "dateModification"}, inplace=True)
marque.rename(columns={"marque": "nom"}, inplace =True)

## Transfert via SQLAlchemy

In [125]:
import json
from sqlalchemy import create_engine

fichierConfig = "../bdd/config.json"

with open(fichierConfig) as fichier:
    config = json.load(fichier)["mysql"]
    
engine = create_engine('mysql+' + config["connector"] + '://' + config["user"] + ":" + config["password"] + "@" + config["host"] + ":" + config["port"] + "/" + config["bdd"], echo=True)

In [126]:
categorie.to_sql('categorie', con=engine, index = False, if_exists = 'append')

2020-10-17 15:03:39,326 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-10-17 15:03:39,327 INFO sqlalchemy.engine.base.Engine {}
2020-10-17 15:03:39,331 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-10-17 15:03:39,332 INFO sqlalchemy.engine.base.Engine {}
2020-10-17 15:03:39,335 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-10-17 15:03:39,336 INFO sqlalchemy.engine.base.Engine {}
2020-10-17 15:03:39,339 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-10-17 15:03:39,339 INFO sqlalchemy.engine.base.Engine {}
2020-10-17 15:03:39,341 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-10-17 15:03:39,342 INFO sqlalchemy.engine.base.Engine {}
2020-10-17 15:03:39,344 INFO sqlalchemy.engine.base.Engine DESCRIBE `categorie`
2020-10-17 15:03:39,344 INFO sqlalchemy.engine.base.Engine {}
2020-10-17 15:03:39,349 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-17 15:03:39,351 INFO sqlalchemy.engine.base.Engine INSERT INTO categorie (id, type) VALUES (%(id)s, %(type)s)
2020-10-17 15:03:39,352 INFO sqlalchemy.engine.base.Engine ({'id': 1, 'type': 'Bac aérien avec cache bac'}, {'id': 2, 'type': 'Bac aérien sans cache bac'}, {'id': 3, 'type': 'PAV cuve enterrée'}, {'id': 4, 'type': 'PAV enterré ascenseur'}, {'id': 5, 'type': 'PAV cuve compactrice'}, {'id': 6, 'type': 'PAV cuve semi-enterrée'}, {'id': 7, 'type': 'Colonne aérienne'})
2020-10-17 15:03:39,354 INFO sqlalchemy.engine.base.Engine COMMIT

In [127]:
dechet.to_sql('dechet', con=engine, index = False, if_exists = 'append')

2020-10-17 15:03:39,374 INFO sqlalchemy.engine.base.Engine DESCRIBE `dechet`
2020-10-17 15:03:39,374 INFO sqlalchemy.engine.base.Engine {}
2020-10-17 15:03:39,378 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-17 15:03:39,380 INFO sqlalchemy.engine.base.Engine INSERT INTO dechet (id, type) VALUES (%(id)s, %(type)s)
2020-10-17 15:03:39,381 INFO sqlalchemy.engine.base.Engine ({'id': 1, 'type': 'végétation'}, {'id': 2, 'type': 'bois'}, {'id': 3, 'type': 'métal'}, {'id': 4, 'type': 'gravats propres'}, {'id': 5, 'type': 'gravat sale'}, {'id': 6, 'type': 'carton'}, {'id': 7, 'type': 'd3e'}, {'id': 8, 'type': 'déchet ménager spécial'}  ... displaying 10 of 14 total bound parameter sets ...  {'id': 13, 'type': 'extincteur'}, {'id': 14, 'type': 'huile végétale ou minérale'})
2020-10-17 15:03:39,383 INFO sqlalchemy.engine.base.Engine COMMIT

In [128]:
marque.to_sql('marque', con=engine, index = False, if_exists = 'append')

2020-10-17 15:03:39,405 INFO sqlalchemy.engine.base.Engine DESCRIBE `marque`
2020-10-17 15:03:39,405 INFO sqlalchemy.engine.base.Engine {}
2020-10-17 15:03:39,408 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-17 15:03:39,410 INFO sqlalchemy.engine.base.Engine INSERT INTO marque (id, nom) VALUES (%(id)s, %(nom)s)
2020-10-17 15:03:39,411 INFO sqlalchemy.engine.base.Engine ({'id': 1, 'nom': 'Plastic Omnium'}, {'id': 2, 'nom': 'Contenur'}, {'id': 3, 'nom': 'Citec'}, {'id': 4, 'nom': 'Ecollect'})
2020-10-17 15:03:39,413 INFO sqlalchemy.engine.base.Engine COMMIT

In [129]:
tri.to_sql('tri', con=engine, index = False, if_exists = 'append')

2020-10-17 15:03:39,437 INFO sqlalchemy.engine.base.Engine DESCRIBE `tri`
2020-10-17 15:03:39,438 INFO sqlalchemy.engine.base.Engine {}
2020-10-17 15:03:39,441 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-17 15:03:39,442 INFO sqlalchemy.engine.base.Engine INSERT INTO tri (id, type) VALUES (%(id)s, %(type)s)
2020-10-17 15:03:39,443 INFO sqlalchemy.engine.base.Engine ({'id': 1, 'type': 'om'}, {'id': 2, 'type': 'papier'}, {'id': 3, 'type': 'emballage'}, {'id': 4, 'type': 'verre'}, {'id': 5, 'type': 'vêtement'})
2020-10-17 15:03:39,445 INFO sqlalchemy.engine.base.Engine COMMIT

In [130]:
# Faute de gérer les UUID pour l'instant
collecteur.objectid = collecteur.index + 1
collecteur.to_sql('collecteur', con=engine, index = False, if_exists = 'append')

2020-10-17 15:03:39,475 INFO sqlalchemy.engine.base.Engine DESCRIBE `collecteur`
2020-10-17 15:03:39,476 INFO sqlalchemy.engine.base.Engine {}
2020-10-17 15:03:39,481 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-17 15:03:39,498 INFO sqlalchemy.engine.base.Engine INSERT INTO collecteur (objectid, id, volume, quantite, `dateInstallation`, adresse, `adresseComplement`, `codeInsee`, observations, createur, `dateCreation`, modificateur, `dateModification`, globalid, _x, _y, `idTri`, `idCategorie`, `idMarque`) VALUES (%(objectid)s, %(id)s, %(volume)s, %(quantite)s, %(dateInstallation)s, %(adresse)s, %(adresseComplement)s, %(codeInsee)s, %(observations)s, %(createur)s, %(dateCreation)s, %(modificateur)s, %(dateModification)s, %(globalid)s, %(_x)s, %(_y)s, %(idTri)s, %(idCategorie)s, %(idMarque)s)
2020-10-17 15:03:39,499 INFO sqlalchemy.engine.base.Engine ({'objectid': 1, 'id': None, 'volume': 660, 'quantite': 1, 'dateInstallation': None, 'adresse': 'Gare tsm', 'adresseComplement': None, 'codeInsee': '06138', 'observations': None, 'createur': 'chpayet', 'dateCreation': datetime.datetime(2019, 12, 4, 8, 39, 17), 'modificateur': 'chpayet', 'dateModification': datetime.datetime(2019, 12, 4, 8, 39, 17), 'globalid': '{5C455C7F-2CAF-4B57-8B69-686691E7ACAA}', '_x': 6.937009335, '_y': 43.51330185, 'idTri': 1, 'idCategorie': 1.0, 'idMarque': 1.0}, {'objectid': 2, 'id': None, 'volume': 660, 'quantite': 3, 'dateInstallation': None, 'adresse': 'Résidence les terrasses de saint honorat', 'adresseComplement': None, 'codeInsee': '06138', 'observations': None, 'createur': 'chpayet', 'dateCreation': datetime.datetime(2020, 1, 2, 13, 19, 48), 'modificateur': 'chpayet', 'dateModification': datetime.datetime(2020, 1, 2, 13, 19, 48), 'globalid': '{449AE0D0-B256-49C2-84F7-87F4248CA3CC}', '_x': 6.941518307000001, '_y': 43.49053955, 'idTri': 1, 'idCategorie': 1.0, 'idMarque': 1.0}, {'objectid': 3, 'id': None, 'volume': 660, 'quantite': 1, 'dateInstallation': None, 'adresse': 'Prince des iles', 'adresseComplement': None, 'codeInsee': '06138', 'observations': None, 'createur': 'chpayet', 'dateCreation': datetime.datetime(2019, 12, 4, 8, 46, 30), 'modificateur': 'chpayet', 'dateModification': datetime.datetime(2019, 12, 4, 8, 46, 30), 'globalid': '{FED2233C-9710-40F1-ACF4-58134F0BB9FE}', '_x': 6.9373984339999994, '_y': 43.50917053, 'idTri': 1, 'idCategorie': 2.0, 'idMarque': 1.0}, {'objectid': 4, 'id': None, 'volume': 660, 'quantite': 1, 'dateInstallation': None, 'adresse': 'Avenue de lerins trottoir de l eglise', 'adresseComplement': None, 'codeInsee': '06138', 'observations': None, 'createur': 'chpayet', 'dateCreation': datetime.datetime(2019, 12, 4, 8, 53, 6), 'modificateur': 'chpayet', 'dateModification': datetime.datetime(2019, 12, 4, 8, 53, 6), 'globalid': '{058DC0AE-423C-4FEB-8D30-D4C113428CD8}', '_x': 6.938352585, '_y': 43.50808716, 'idTri': 1, 'idCategorie': 2.0, 'idMarque': 1.0}, {'objectid': 5, 'id': None, 'volume': 660, 'quantite': 1, 'dateInstallation': None, 'adresse': 'Avenue de lerins angle traverse magasin souvenirs', 'adresseComplement': None, 'codeInsee': '06138', 'observations': None, 'createur': 'chpayet', 'dateCreation': datetime.datetime(2019, 12, 4, 9, 0, 36), 'modificateur': 'chpayet', 'dateModification': datetime.datetime(2019, 12, 4, 9, 0, 36), 'globalid': '{53D62EB0-B046-4D5D-B636-94646AC984AA}', '_x': 6.940555572999999, '_y': 43.50768661, 'idTri': 1, 'idCategorie': 2.0, 'idMarque': 1.0}, {'objectid': 6, 'id': '660051915 / 660050415', 'volume': 660, 'quantite': 2, 'dateInstallation': None, 'adresse': 'Chemin du débarcadère ', 'adresseComplement': None, 'codeInsee': '06138', 'observations': None, 'createur': 'chpayet', 'dateCreation': datetime.datetime(2019, 12, 4, 9, 17, 20), 'modificateur': 'chpayet', 'dateModification': datetime.datetime(2019, 12, 4, 9, 17, 20), 'globalid': '{82C7C496-B6B1-453A-B80C-0DAE42D55C04}', '_x': 6.94238615, '_y': 43.50693893, 'idTri': 1, 'idCategorie': 2.0, 'idMarque': 2.0}, {'objectid': 7, 'id': '660051615', 'volume': 660, 'quantite': 1, 'dateInstallation': None, 'adresse': '17 avenue de Provence ', 'adresseComplement': None, 'codeInsee': '06138', 'observations': None, 'createur': 'chpayet', 'dateCreation': datetime.datetime(2019, 12, 11, 8, 10, 45), 'modificateur': 'chpayet', 'dateModification': datetime.datetime(2019, 12, 11, 8, 10, 45), 'globalid': '{E1A1D903-433E-47A8-BB2E-0BCA7BE7F61E}', '_x': 6.9351940160000005, '_y': 43.50863266, 'idTri': 1, 'idCategorie': 2.0, 'idMarque': 2.0}, {'objectid': 8, 'id': None, 'volume': 660, 'quantite': 1, 'dateInstallation': None, 'adresse': '13 jb pastor', 'adresseComplement': None, 'codeInsee': '06138', 'observations': None, 'createur': 'chpayet', 'dateCreation': datetime.datetime(2019, 12, 4, 9, 34, 29), 'modificateur': 'chpayet', 'dateModification': datetime.datetime(2019, 12, 4, 9, 36, 17), 'globalid': '{F99EABC7-5945-4C61-94AA-CCB3E9FB8659}', '_x': 6.9388270379999994, '_y': 43.50522995, 'idTri': 1, 'idCategorie': 2.0, 'idMarque': 1.0}  ... displaying 10 of 967 total bound parameter sets ...  {'objectid': 966, 'id': None, 'volume': None, 'quantite': 3, 'dateInstallation': None, 'adresse': 'Avenue lamartine', 'adresseComplement': None, 'codeInsee': '06085', 'observations': None, 'createur': 'chpayet', 'dateCreation': datetime.datetime(2020, 3, 10, 9, 59, 22), 'modificateur': 'chpayet', 'dateModification': datetime.datetime(2020, 7, 27, 12, 39, 49), 'globalid': '{EFBAFBA0-0480-4340-B500-F47140DB6A2F}', '_x': 6.9849920270000005, '_y': 43.57439423, 'idTri': 5, 'idCategorie': None, 'idMarque': None}, {'objectid': 967, 'id': None, 'volume': None, 'quantite': 1, 'dateInstallation': None, 'adresse': 'Chemin de coudouron', 'adresseComplement': 'Déchèterie ', 'codeInsee': '06085', 'observations': None, 'createur': 'chpayet', 'dateCreation': datetime.datetime(2020, 7, 27, 12, 59, 11), 'modificateur': 'chpayet', 'dateModification': datetime.datetime(2020, 7, 27, 12, 59, 11), 'globalid': '{8708629A-385D-44FF-8DB6-CDD4302B824B}', '_x': 6.964497566, '_y': 43.5815506, 'idTri': 5, 'idCategorie': None, 'idMarque': None})
2020-10-17 15:03:39,646 INFO sqlalchemy.engine.base.Engine COMMIT

In [131]:
decheterie.to_sql('decheterie', con=engine, index = False, if_exists = 'append')

2020-10-17 15:03:39,674 INFO sqlalchemy.engine.base.Engine DESCRIBE `decheterie`
2020-10-17 15:03:39,675 INFO sqlalchemy.engine.base.Engine {}
2020-10-17 15:03:39,679 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-17 15:03:39,681 INFO sqlalchemy.engine.base.Engine INSERT INTO decheterie (objectid, id, adresse, `adresseComplement`, `codeInsee`, `dateInstallation`, observations, createur, `dateCreation`, modificateur, `dateModification`, globalid, _x, _y) VALUES (%(objectid)s, %(id)s, %(adresse)s, %(adresseComplement)s, %(codeInsee)s, %(dateInstallation)s, %(observations)s, %(createur)s, %(dateCreation)s, %(modificateur)s, %(dateModification)s, %(globalid)s, %(_x)s, %(_y)s)
2020-10-17 15:03:39,682 INFO sqlalchemy.engine.base.Engine ({'objectid': 801, 'id': None, 'adresse': 'Impasse de l aubarede', 'adresseComplement': None, 'codeInsee': '06030', 'dateInstallation': None, 'observations': None, 'createur': 'chpayet', 'dateCreation': datetime.datetime(2020, 7, 23, 13, 59, 23), 'modificateur': 'chpayet', 'dateModification': datetime.datetime(2020, 7, 23, 13, 59, 23), 'globalid': '{F24B4AF3-17BF-4215-B07F-044AA37EA4E5}', '_x': 6.9836130139999995, '_y': 43.56684875}, {'objectid': 1201, 'id': None, 'adresse': 'Chemin du coudouron', 'adresseComplement': None, 'codeInsee': '06085', 'dateInstallation': None, 'observations': None, 'createur': 'chpayet', 'dateCreation': datetime.datetime(2020, 7, 27, 12, 51, 41), 'modificateur': 'chpayet', 'dateModification': datetime.datetime(2020, 7, 27, 12, 54, 59), 'globalid': '{26CF70EB-23DD-4399-ACBA-98434B6BFC1A}', '_x': 6.964639187, '_y': 43.58163834}, {'objectid': 1601, 'id': None, 'adresse': 'Déchèterie des tourades', 'adresseComplement': None, 'codeInsee': '06029', 'dateInstallation': None, 'observations': None, 'createur': 'chpayet', 'dateCreation': datetime.datetime(2020, 7, 31, 13, 1, 59), 'modificateur': 'chpayet', 'dateModification': datetime.datetime(2020, 7, 31, 13, 3, 32), 'globalid': '{83866245-B862-4D22-B436-D5B1A64F5441}', '_x': 6.954320431, '_y': 43.55671692})
2020-10-17 15:03:39,685 INFO sqlalchemy.engine.base.Engine COMMIT

In [132]:
traitement.to_sql('traitement', con=engine, index = False, if_exists = 'append')

2020-10-17 15:03:39,704 INFO sqlalchemy.engine.base.Engine DESCRIBE `traitement`
2020-10-17 15:03:39,705 INFO sqlalchemy.engine.base.Engine {}
2020-10-17 15:03:39,708 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-17 15:03:39,710 INFO sqlalchemy.engine.base.Engine INSERT INTO traitement (`objectidDecheterie`, `idDechet`) VALUES (%(objectidDecheterie)s, %(idDechet)s)
2020-10-17 15:03:39,711 INFO sqlalchemy.engine.base.Engine ({'objectidDecheterie': 801, 'idDechet': 1}, {'objectidDecheterie': 801, 'idDechet': 2}, {'objectidDecheterie': 801, 'idDechet': 3}, {'objectidDecheterie': 801, 'idDechet': 4}, {'objectidDecheterie': 801, 'idDechet': 5}, {'objectidDecheterie': 801, 'idDechet': 6}, {'objectidDecheterie': 801, 'idDechet': 7}, {'objectidDecheterie': 801, 'idDechet': 8}  ... displaying 10 of 40 total bound parameter sets ...  {'objectidDecheterie': 1601, 'idDechet': 13}, {'objectidDecheterie': 1601, 'idDechet': 14})
2020-10-17 15:03:39,714 INFO sqlalchemy.engine.base.Engine COMMIT